/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 $color__primary: #bb2521;

 .timeline-holder {

	position: relative;
	padding: 24px 0;
	display: flex;
	flex-direction: row;
	text-align: center;
	margin-block-start: 0;

	&:after {
		content: "";
		width: 100%;
		border-bottom: 1px solid $color__primary;
		position: absolute;
		top: 50%;
		left: 0;
	}
 }