/* Biographies List
   - Block "Members with Photo"
   - Shortcode [biographies]
*/
.biographies-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 20px;
	margin: 60px 0;
	font-family: $font__alt;
	text-align: center;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {

			.fn {
				text-decoration: underline;
			}

			.author-photo {
				filter: grayscale(100%);
			}
		}
	}

	.fn {
		font-size: 22rem;
		line-height: 30px;
		color: $color__gray;
	}

	.fn,
	p {
		margin: 16px 0;
	}

	.title {
		line-height: 1.25;
		color: $color__gray-soft;
	}

	.note {
		font-weight: 700;
		font-size: 14rem;
		line-height: 18px;
		display: none;

		&:empty {
			display: none;
		}
	}
}

/* Author Photo */
.author-photo {
	width: 100%;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	background-color: $color__primary-softer;
	overflow: hidden;

	@include fit(1);
}

@include desktop {

	.biographies-list {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

		.fn {
			font-size: 28rem;
			line-height: 36px;
		}
	}
}
