.wp-block-button {

  .wp-block-button__link {
    display: inline-flex;
    align-items: center;
    min-height: 50px;
    padding: 0 1.5em;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    font: normal 500 16rem/1.2 $font__main;
    text-decoration: none;
    transition: all 200ms ease-out;

    &:not([class*="has-"]) {
      background: $color__white;
      color: $color__primary;
      border-color: currentColor;

      &:hover,
      &:active,
      &:focus {
        background: $color__primary;
        color: $color__white;
        border-color: $color__primary;
      }
    }
  }

  &:not([class*="is-style-"]) .has-white-color {
    border-width: 0;
  }

  &.is-style-fill {
    .wp-block-button__link:not([class*="has-"]) {
      background: $color__primary;
      color: $color__white;
      border-color: $color__primary;

      &:hover,
      &:active,
      &:focus {
        background: $color__link-hover;
        color: $color__white;
        border-color: $color__link-hover;
      }
    }

    .has-background {
      border-width: 0;
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      border-color: currentColor;
    }

    .has-white-color {
      border-width: 0;
    }
  }
}