.wp-block-columns {

	&.collapse,
	&.collapsed {
		.wp-block-column {
			margin: 0;
			padding: 1em;
		}
	}

	@media (min-width: 600px) and (max-width: 781px) {
		&.collapse,
		&.collapsed {
			.wp-block-column:not(:only-child) {
				flex-basis: 50% !important;
			}
		}
	}
}