.block-logo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	align-items: start;
	justify-items: stretch;
	gap: 40px 20px;
	margin: 2em 0;
	font: normal 400 16rem/1.5 $font__alt;
	color: #09101d;

	.logo-image {
		@include fit(270, 147, relative, scale-down);
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		background-color: $color__gray-softer;
		transition: background-color 200ms ease-out;

		&::after {
			content: '';
			display: table;
			clear: both;
		}

		img {
			padding: 15px;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;

			.logo-image {
				background-color: $color__gray-soft;
			}
		}
	}
}
