.block-members {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	margin: 60px 0;
	font: normal 400 18rem/1.3 $font__alt;
	text-align: center;
	color: $color__gray;

	&:empty {
		display: block;
		height: 80px;
		background-color: $color__primary-softer;
	}

	.member {
		margin-bottom: 40px;

		&::before {

			@include pseudo(inline-block, static);
			width: 55px;
			height: 5px;
			border-radius: 3px;
			background-color: $color__red;
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.member__name {
		margin-top: 16px;
		font-size: 28rem;
	}

	.member__position {
		margin: 16px 0;
		color: $color__gray-soft;
	}

	.member__institution {
		font-weight: 700;
		font-size: 14rem;
	}
}

@include desktop {
	.block-members {
		grid-template-columns: repeat(4, 1fr);
	}
}