/* Post Slider
   - Block "Publications"
   - Other content
*/
.slider-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@include reset-list(10px 0 20px);
	font: normal 700 12rem/2 $font__alt;
	text-align: center;
	white-space: nowrap;

	.prev,
	.next {
		width: 2em;
		height: 2em;
		margin: 0 8px;
		color: $color__primary;
		overflow: hidden;
		cursor: pointer;

		&::before {

			@include icon($icon-left, 1em);
			width: 2em;
			height: 2em;
			line-height: 2em;
		}

		&:hover {
			color: $color__link-hover;
		}
	}

	.next {
		order: 3;

		&::before {
			content: $icon-right;
		}
	}
}

.post-slider {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;

	.post-slides {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
		gap: 8px;
	}

	.post-slide {

		.post-thumbnail {
			width: 100%;
			height: auto;
			@include aspect-ratio(368, 240);
			margin-bottom: 16px;
		}

		.post-title {
			margin: 0;
			font: normal 400 24rem/1.2 $font__alt;
			color: $color__black;

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.post-category {
			margin: 16px 0 8px;

			&:empty {
				display: none;
			}

			a {
				padding: 0;
				background: transparent;
				color: $color__gray-soft;
				font: normal 700 14rem/1.2 $font__alt;
				white-space: normal;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.post-slides.tns-slider {
		display: block;
	}
}

@include desktop {

	.post-slider .post-slides {
		gap: 24px;
	}
}
