.block-timeline {
	position: relative;
	padding-left: 100px;

	&::before {

		@include pseudo;
		inset: 0 auto 0 70px;
		width: 3px;
		background: $color__primary;
	}

	.timeline__title {
		font: normal 400 28rem/1.286 $font__alt;
		color: $color__black;
	}

	dt {
		float: left;
		position: relative;
		width: 50px;
		margin: 0 0 0 -100px;
		padding: 0;
		color: $color__gray;
		font: normal 700 12rem/1.1 $font__alt;
		text-align: right;
		text-transform: uppercase;

		.day {
			display: block;
			font-size: 33rem;
		}

		&::after {

			@include pseudo;
			top: 10px;
			right: -32px;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background-color: $color__primary;
		}
	}

	dd {
		position: relative;
		margin: 0 0 25px;
		padding: 0;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
	.timeline__events-detail{
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
		color: #2C3A4B;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
	.timeline__events-title{
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 32px;
		color: #BB2521;
		position: relative;
		&:after{
			content: "";
			height: 24px;
			width: 24px;
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
			margin-left: 8px;
			background-image: url("data:image/svg+xml, %3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cmask%20id%3D%22mask0_234_11335%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%226%22%20y%3D%228%22%20width%3D%2212%22%20height%3D%228%22%3E%0A%3Cpath%20d%3D%22M8.12508%209.00002L12.0051%2012.88L15.8851%209.00002C16.2751%208.61002%2016.9051%208.61002%2017.2951%209.00002C17.6851%209.39002%2017.6851%2010.02%2017.2951%2010.41L12.7051%2015C12.3151%2015.39%2011.6851%2015.39%2011.2951%2015L6.70508%2010.41C6.51783%2010.2232%206.4126%209.96954%206.4126%209.70502C6.4126%209.4405%206.51783%209.18685%206.70508%209.00002C7.09508%208.62002%207.73508%208.61002%208.12508%209.00002Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url%28%23mask0_234_11335%29%22%3E%0A%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22%23BB2521%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
		}
		@media (max-width: 768px) {
			font-size: 13px;
		}
	}
	.timeline__events-hour{
		width: unset;
		margin-left: -132px;
		@media (max-width: 768px) {
			margin-left: -106px;
		}
		.hour{
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 32px;
			/* identical to box height, or 267% */
			text-decoration-line: underline;
			color: #BB2521;
			@media (max-width: 768px) {
				font-size: 10px;
			}
		}
	}
}

@include desktop {

	.block-timeline {
		padding-left: 130px;

		&::before {
			left: 90px;
		}

		dt {
			margin-left: -120px;

			&::after {
				right: -42px;
			}
		}
	}
}

@supports (-webkit-mask-composite: source-in) {

	.block-timeline {

		&::before {
			left: 58px;
			width: 25px;
			background: linear-gradient(to bottom, $color__gradient-start 0%, $color__gradient-end 100%);
		}
		.timeline__events-detail{
			&::before{
				-webkit-mask-image: linear-gradient(90deg,#fff 11px,transparent 0,transparent 14px,#fff 0);
			}
		}
		dt::after {
			content: none;
		}

		.timeline__title,
		dd {
			position: relative;

			&::before {

				@include pseudo;
				inset: -10px auto -10px -42px;
				width: 25px;
				background: $color__white;
				-webkit-mask-image: linear-gradient(90deg, #fff 11px, transparent 11px, transparent 14px, #fff 14px);
			}
		}

		dd::before {
			bottom: -30px;
			-webkit-mask-image: linear-gradient(90deg, #fff 11px, transparent 11px, transparent 14px, #fff 14px), radial-gradient(circle at 12px 30px, transparent 10px, #fff 11px);
			-webkit-mask-composite: source-in;
		}

		@include desktop {

			&::before {
				left: 78px;
			}

			.timeline__title::before,
			dd::before {
				left: -52px;
			}
		}
	}
}

.block-timeline dt.timeline__events-hour::after {
	content: none;
}

.block-timeline dd.timeline__events-title::after {
	content: none;
}