.site-footer {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	background: $color__gradient-start $color__gradient;
	color: $color__white;
	font: normal 500 14rem/1.429 $font__main;

	&::before {

		@include pseudo;
		z-index: -1;
		top: 0;
		bottom: 0;
		width: 100vw;
		left: calc((50vw - 50%) * -1);
		background: linear-gradient(to right, $color__gradient-start 0%, $color__gradient-start 50%, $color__gradient-end 51%, $color__gradient-end 100%);
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.site-logo {
		width: 140px;
		height: 60px;
		filter: grayscale(1) brightness(2); // TODO: eliminar con el logo correcto
	}

	.footer-links {
		flex-grow: 1;
		width: 100%;
		margin: 40px auto;
		white-space: nowrap;

		ul {
			display: flex;
			flex-flow: column wrap;
			align-content: space-around;
			align-items: flex-start;
			max-height: 120px;
			@include reset-list;

			li {
				padding: 5px;
			}
		}
	}

	.footer-social {

		p {
			margin: 0;
			text-align: center;
		}

		.social-links {
			display: flex;
			justify-content: space-around;

			li {
				margin: 0 5px;

				span {
					color: $color__primary;

					&:hover {
						color: $color__link-hover;
					}
				}
			}
		}
	}
}

@include desktop {

	.site-footer {
		flex-flow: row nowrap;
		padding: 30px 0;

		.footer-links {
			margin: 0 20px;

			ul {
				flex-flow: row wrap;
				justify-content: center;
			}
		}
	}
}
