.site-header {
	position: sticky;
	top: -40px;
	z-index: 10;
	transition: top 300ms ease-in-out;

	> div {
		margin: 0 -10px;
		padding: 0 10px;
	}
}

.top-nav {
	position: relative;
	height: 40px;
	background-color: #efefef;
}

.main-nav {
	position: relative;
	height: 56px;
	background-color: $color__white;

	.site-branding {
		float: left;
		max-height: 100%;
		padding-top: 14px;
		@media (max-width: 1152px) {
			padding-top: 9px;
		}
	}

	.site-title {
		margin: 0;
		padding: 0;

		a {
			display: block;
			height: 56px;
		}
	}

	.site-logo {
		height: 56px;
		width: 130px;
		//margin-top: 5px;
	}

	.main-mobile {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
		height: 100%;

		.languages-select {
			font-size: 13rem;
			font-weight: 700;
		}

		[role="button"] {
			display: inline-block;
			width: 50px;
			height: 50px;
			margin-left: 20px;
			text-align: center;
			cursor: pointer;
		}

		.menu-toggle::before {

			@include icon($icon-menu, 24rem);
			line-height: 50px;
			color: $color__primary;
		}

		.menu-search {
			background: $color__white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%232C3A4B' d='M15.8 14 11.3 10c.8-1 1.4-2.3 1.4-3.7 0-3.3-2.9-6-6.4-6C2.8.3 0 3 0 6.3 0 9.4 2.8 12 6.3 12c1.5 0 3-.4 4-1.3L15 15l.4.1.5-.1c.3-.3.3-.7 0-1Zm-9.5-3.2c-2.7 0-5-2-5-4.6 0-2.6 2.3-4.7 5-4.7 2.8 0 5 2.1 5 4.7 0 2.5-2.2 4.6-5 4.6Z'/%3E%3C/svg%3E") no-repeat center;
			background-size: 24px;
			@media (min-width: 1152px) {
				display: none;
			}
		}
	}
}

.second-nav {
	position: relative;
	height: 48px;
	background: $color__gradient;
	transition: opacity 200ms ease-in-out;

	&::before {
		background-image: linear-gradient(to right, $color__gradient-start 0%, $color__gradient-start 50%, $color__gradient-end 51%, $color__gradient-end 100%);
	}
}

@include mobile {

	.single .site-header {
		top: -144px;
		transition-duration: 0s;
	}

	.single.scrolled .site-header {
		top: -96px;
		transition-duration: 300ms;
	}

	.single.scroll-up .site-header {
		top: -40px;
	}

	.scrolled .second-nav {
		opacity: 0;
		pointer-events: none;
	}

	.single.scrolled .second-nav {
		transition-duration: 0s;
	}

	.no-single.scrolled .main-nav {
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
	}
}

@include desktop {

	.single.scroll-up .site-header {
		top: -40px;
	}

	.site-header > div::before {

		@include pseudo;
		z-index: -1;
		top: 0;
		bottom: 0;
		width: 100vw;
		left: calc((50vw - 50%) * -1);
		background-color: inherit;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 1px 0px 1px;
	}

	.main-nav {
		height: 85px;

		.site-title a {
			height: 78px;
			display: flex;
			align-items: flex-end;
		}

		.site-logo {
			height: 64px;
			width: 165px;
			//margin-top: 9px;
			//margin-left: -10px;
			//transform: scale(1.5);
		}
	}

	.second-nav {
		height: 48px;
	}
}

@media (min-width: 1250px) {
	.main-nav {
		.site-logo {
			height: 64px;
			width: 200px;
			//margin-top: 9px;
			//margin-left: -10px;
			transform: scale(1.5);
		}
	}
}
