/* Scroll Progess Header */
.progress-header {
	position: absolute;
	top: 96px; // top + main menus
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	height: 60px;
	background-color: $color__gray-softer;
	opacity: 0;
	pointer-events: none;
	transition: opacity 100ms ease-in-out;

	&.progress-header--show {
		opacity: 1;
		pointer-events: initial;
		transition-duration: 500ms;
	}

	svg {
		display: none;
		width: 70px;
		height: 70px;
	}

	p {
		flex-grow: 1;
		max-height: 2.4em;
		margin: 0;
		font: normal 500 16rem/1.2 $font__main;
		color: $color__black;
		text-overflow: ellipsis;
		overflow: hidden;
		// 2 lines multiline ellipsis
		display: -webkit-box !important;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	progress {
		display: block;
		position: absolute;
		width: 100vw;
		height: 4px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		appearance: none;
		border: none;
		background-color: transparent;
		color: $color__red;

		&::-webkit-progress-bar {
			background-color: transparent;
		}

		&::-webkit-progress-value {
			background-color: $color__red;
		}

		&::-moz-progress-bar {
			background-color: $color__red;
		}
	}
}

.progress-header-share {
	position: relative;
	z-index: 2;
	align-self: stretch;
	user-select: none;

	.share-toggle {
		display: flex;
		align-items: center;
		height: 100%;
		font: normal 400 14rem/1 $font__main;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		color: $color__gray-soft;
		cursor: pointer;

		&:hover {
			color: $color__gray;
		}

		span {
			display: none;
		}

		&::after {

			@include icon($icon-more, 1.6em);
			margin-left: 0.5em;
			vertical-align: sub;
		}
	}

	.share-wrapper {
		position: absolute;
		z-index: 10;
		top: 100%;
		right: -10px;
		max-height: 0;
		display: flex;
		align-items: flex-end;
		overflow: hidden;
		transition: max-height 350ms ease-in-out;
	}

	.social-links {

		@include reset-list(0, 20px 0 26px 30px);
		width: 220px;
		background-color: $color__gray-softer;

		li {
			display: list-item;
			border-left: 1px solid $color__primary;
			margin: 0;
		}

		a {
			display: block;
			padding: 5px 0 5px 26px;
			font: normal 700 14rem $font__alt;
			color: #2c3a4b;
		}

		span {
			margin-right: 14px;
		}
	}

	&.progress-header-share--show {
		.share-toggle {
			color: $color__gray;
		}

		.share-wrapper {
			max-height: 300px;
		}
	}
}

@include desktop {

	.progress-header {
		top: 100%; // top + main + secondary menus
		height: 90px;

		p {
			padding: 0 20px;
			font-size: 20rem;
		}

		svg,
		.share-toggle span {
			display: initial;
		}
	}
}
