.widget.contact {
	margin: 4em 0;
	padding: 30px;
	background-color: #f5f5f5;

	p {
		margin: 0;
	}

	li {
		margin: 0 16px 0 0;
	}

	.widget-title {
		margin-bottom: 4px;
		font-size: 14rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	.widget-name {
		font: normal 400 24rem/1.2 $font__alt;
		color: $color__black;
	}

	.widget-text {
		margin: 14px 0;
		font: normal 400 18rem/1.25 $font__alt;
	}
}
