.downloads {

	ul {

		@include reset-list;
		font: normal 400 14rem/1.2 $font__alt;
		color: $color__gray;
	}

	a {
		display: block;
		position: relative;
		padding: 10px 0 10px 28px;
		color: inherit;
		text-decoration: none;
		word-break: break-word;

		&:hover {
			text-decoration: underline;
		}

		&::before {

			@include icon($icon-download, 19rem, block);
			color: $color__primary;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		@include desktop {
			padding: 8px 0 8px 28px;
		}
	}
}
