.terms-links {

	.widget-title {
		margin: 40px 0;
	}

	ul {

		@include reset-list;
		color: $color__gray;

		li {
			padding: 5px 0;
		}

		.current-term {
			color: $color__black;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
