.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget-title {
	margin: 8px 0;
	font: normal 400 20rem/1.3 $font__alt;
	color: $color__gray-soft;

	&.widget-title--big {
		margin: 0 0 20px;
		font-size: 28rem;
	}

	&.widget-title--alt {
		margin: 0 0 20px;
		font-weight: 700;
		font-size: 14rem;
		text-transform: uppercase;
	}
}

.widget-intro {
	margin: 10px 0 12px;
	font: normal 500 14rem/1.286 $font__alt;
	color: $color__gray;
	text-transform: uppercase;
}


/* Custom Widget Styles */
@include mobile {

	.widget.share,
	.widget.newsletter {
		display: none;
	}

	.widget.last-posts {
		padding: 30px 0;
		margin: 40px 0;
		border: 1px solid $color__gray-softer;
		border-width: 1px 0;
	}
}
