/* Breadcrumbs */
#breadcrumbs {
	margin: 30px 0;
	font: normal 400 14rem/1.429 $font__alt;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $color__gray;

	a {
		color: $color__gray-soft;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.site-content .site-main #breadcrumbs {
	position: absolute;
	z-index: 1;
}