/* Lateral Prev/Next Navigation */
.nav-lateral {
	display: none;
}

@media (min-width: 1280px) {

	.nav-lateral {
		display: block;

		.nav {
			position: fixed;
			z-index: 10;
			top: 50%;
			// left: 0;
			height: 180px;
			margin-top: -90px;
		}

		a {
			display: block;
			position: relative;
			text-decoration: none;
		}

		.link-label {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 180px;
			height: 56px;
			background-color: $color__white;
			color: $color__primary;
			font: normal 700 14rem/56px $font__alt;
			letter-spacing: 0.05em;
			text-align: center;
			text-transform: uppercase;
			transform: translateY(-100%) rotateZ(90deg);
			transform-origin: bottom left;
			transition: all 300ms ease-in-out;
		}

		.link-card {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 356px;
			height: 180px;
			padding: 10px 10px 10px 158px;
			background-color: $color__white;
			box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
			transform: translateX(-300px);
			transition: transform 500ms ease-in-out;
		}

		.post-thumbnail {
			position: absolute;
			top: 57px;
			left: 72px;
			width: 72px;
			height: 72px;
		}

		.post-title {
			margin: 0 0 8px;
			font: normal 400 18rem/1.333 $font__alt;
			color: $color__black;
			// 4 lines multiline ellipsis
			max-height: calc(1.333em * 4);
			overflow: hidden;
			display: -webkit-box !important;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
		}

		.post-date {
			font: normal 700 14rem/1.333 $font__alt;
			color: $color__gray-soft;
		}

		.nav-prev {
			left: 0;

			.link-label::before {

				@include icon($icon-left);
				margin-right: 1em;
			}
		}

		.nav-next {
			right: 0;

			.link-label {
				left: auto;
				right: 0;
				transform: rotateZ(90deg) translateX(100%);
				transform-origin: top right;

				&::after {

					@include icon($icon-right);
					margin-left: 1em;
				}
			}

			.link-card {
				left: auto;
				right: 0;
				padding: 10px 72px 10px 102px;
				transform: translateX(300px);
			}

			.post-thumbnail {
				left: 15px;
			}
		}

		a:hover {

			.link-label {
				background-color: $color__primary;
				color: $color__white;
				transition-duration: 200ms;
			}

			.link-card {
				transform: translateX(0);
				transition-duration: 300ms;
				transition-delay: 100ms;
			}
		}
	}
}
