.mobile-menu {
	display: none;
	position: fixed;
	z-index: 99999;
	inset: 0;
	background-color: $color__gray-softer;
	font: normal 400 16rem/1.25 $font__alt;
	text-align: center;

	.mm-prev,
	.mm-close {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		color: $color__primary;

		&::before {

			@include icon($icon-left, 20rem, block);
			line-height: 60px;
			text-align: center;
		}
	}

	.mm-prev {
		display: none;

		&.show {
			display: block;
		}
	}

	.mm-close {
		left: auto;
		right: 0;

		&::before {
			content: $icon-cross;
		}
	}

	.mm-wrapper {
		position: absolute;
		inset: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.mm-content {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;

		ul {

			@include reset-list;
			margin: 0 20px;
			text-align: center;
			user-select: none;
		}

		li[class*="icon-"]::before {
			content: none;
		}

		li.menu-item-has-children > a::after {

			@include icon($icon-right, 12rem);
			vertical-align: baseline;
			margin-left: 10px;
			color: $color__primary;
		}

		a {
			display: inline-block;
			padding: 10px;
			text-decoration: none;
			color: $color__gray;
			outline: none;
		}

		.sub-menu-wrap {
			display: none;
		}

		.top-tabs {
			z-index: 1;
			width: 100%;
			height: 60px;
			padding-right: 60px;
			border-bottom: 1px solid #dadada;
			margin: 0;
			background-color: $color__white;
			font-size: 13rem;
			line-height: 60px;
			font-weight: 700;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			user-select: none;

			* {
				background: transparent;
				padding: 0 10px;
			}

			span {
				text-decoration: underline;
				text-underline-offset: 3px;
			}
		}

		.menu--primary {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid $color__white;
		}

		.menu--top {
			margin-top: 20px;
			padding-top: 10px;
			border-top: 1px solid $color__gray-soft;
		}

	}

	.search-form {
		z-index: 5;
		margin: 12px 0 20px;
	}

	.languages-select {
		font-size: 13rem;
		font-weight: 700;

		.current a {
			color: $color__primary;
		}
	}

	.menu li.selected-menu {
		position: absolute;
		z-index: 2;
		inset: 0;
		padding-top: 131px;
		background-color: $color__gray-softer;

		> a {
			font-weight: 700;
			color: $color__black;

			&::after {
				content: none;
			}
		}

		> .sub-menu-wrap {
			display: block;
			margin: 20px 20px 0;
			padding-top: 20px;
			border-top: 1px solid $color__white;
		}
	}

}

body.show-mobile-nav {
	// Prevent body scroll
	touch-action: none;
	-webkit-overflow-scrolling: none;
	overflow: hidden;
	overscroll-behavior: none;

	.mobile-menu {
		display: block;
	}
}
