/* Nav Menu Default Styles */
.nav-menu {
	font: normal 700 14rem/28px $font__menu;
	letter-spacing: 0.02em;
	color: $color__gray;
	user-select: none;

	ul {
		display: flex;
		flex-flow: row nowrap;

		@include reset-list;
		background: $color__white;
	}

	li {
		position: relative;
		transition: color 200ms ease-out;

		&:hover {
			color: $color__gray;
			transition-duration: 100ms;
		}

		// Keep sepaterd for IE
		&:focus-within {
			color: $color__gray;
			transition-duration: 100ms;
		}
	}

	a {
		display: block;
		color: inherit;
		line-height: 35px;
		text-decoration: none;
		white-space: nowrap;
		outline: none;

		&:focus-visible {
			outline: 1px dotted;
		}
	}

	li.menu-item-has-children > a::after {

		@include icon($icon-down, 12rem);
		vertical-align: baseline;
		margin-left: 5px;
		color: $color__primary;
		transition: transform 200ms ease-out;
	}

	.sub-menu-wrap {
		position: absolute;
		z-index: 99999;
		top: 100%;
		left: -9999px;
		min-width: calc(100% + 30px);
		overflow: hidden;

		&:hover {
			overflow: visible;
		}

		// Keep sepaterd for IE
		&:focus-within {
			overflow: visible;
		}

		ul {
			flex-direction: column;
			max-width: 100vw;
			padding: 0 0 35px 33px;
		}

		li {
			position: static;
			border-left: 1px solid $color__primary;

			&.menu-item-has-children > a::after {
				content: $icon-right;
				margin-left: 10px;
			}
		}

		a {
			padding: 0 20px;
			line-height: 32px;
			text-transform: none;
		}

		.sub-menu-wrap {
			top: 0;
			min-width: 100px;
			min-height: 100%;

			ul {
				padding-top: 30px;
			}
		}
	}

	li[class*="icon-"] {

		&::before {
			display: block;
			position: relative;
			height: 1em;
			margin-bottom: -1em;
			top: calc(50% - 0.5em);
			left: 0;
			font-size: 1.1em;
		}

		> a {
			position: relative;
			z-index: 2;
			padding-left: 1.75em;
		}
	}

	li.selected-menu,
	.ie & li:hover,
	.no-js & li:hover {

		> a::after {
			transform: rotateZ(180deg);
		}

		> .sub-menu-wrap {
			left: -30px;
			animation: elcanoHideScroll 200ms backwards;

			> ul {
				animation: elcanoSlideDown 200ms ease-in-out forwards;
			}
		}
	}

	ul ul li.selected-menu,
	.ie & ul ul li:hover,
	.no-js & ul ul li:hover {

		> a::after {
			transform: translateX(6px);
		}

		> .sub-menu-wrap {
			left: 100%;

			> ul {
				animation: elcanoSlideRight 200ms ease-in-out forwards;
			}
		}
	}
}
