.posts-pagination {
	margin: 70px 0;
	font: normal 500 22rem/34px $font__main;
	text-align: center;

	ul {

		@include reset-list;
	}

	li {
		display: inline-block;

		> * {
			display: block;
			min-width: 30px;
			border-bottom: 2px solid;
			color: $color__gray-soft;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: $color__gray;
		}
	}

	.current {
		color: $color__primary;
	}

	.prev::after,
	.next::after {

		@include icon($icon-left, 14rem);
		line-height: 30px;
	}

	.next::after {
		content: $icon-right;
	}

	@include desktop {

		li {
			padding: 0 5px;

			> * {
				min-width: 44px;
			}
		}
	}
}
