/* Content navigation */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: -1px 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: right;
		flex: 1 0 50%;
	}
}

.post-navigation {
	padding: 45px 0;
	border: 1px solid $color__red;
	border-width: 1px 0;

	.nav-previous + .nav-next {
		border-left: 1px solid $color__primary;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: $color__black;
		font: normal 400 18rem/24px $font__alt;

		&:hover .nav-title {
			text-decoration: underline;
		}
	}

	.nav-subtitle {
		display: block;
		margin-bottom: 10px;
		color: $color__primary;
		font: normal 500 14rem/1 $font__main;
	}

	.nav-previous {
		padding-right: 5px;

		.nav-subtitle::before {

			@include icon($icon-left, 11rem);
			margin-right: 8px;
		}
	}

	.nav-next {
		padding-left: 5px;

		.nav-subtitle::after {

			@include icon($icon-right, 11rem);
			margin-left: 8px;
		}
	}
}
