/* Primary Menu */
.primary-menu {
	display: none;
}

@media (min-width: $size__content-width) {

	.main-nav .main-mobile {
		display: none;
	}

	.primary-menu {
		display: block;

		ul {
			justify-content: flex-end;
			padding-top: 3px;
		}

		.sub-menu-wrap {

			li:first-child {
				padding-top: 30px;
			}

			.sub-menu-wrap ul li:first-child {
				padding-top: 0;
			}
		}

		ul.menu > li > a {
			line-height: 78px;
			padding: 0 10px;
		}

		ul:hover {
			color: #dadada;

			> .menu-item-has-children > a::after {
				color: inherit;
			}

			> .menu-item-has-children:hover > a::after {
				color: $color__primary;
			}
		}

		.menu > li:last-child {

			.sub-menu-wrap {
				left: auto;
				right: -9999px;
			}

			> .sub-menu-wrap {
				min-width: 100%;
			}

			ul {
				padding: 0 33px 35px 0;
			}

			li {
				border-left: none;
				border-right: 1px solid #bb2521;
				text-align: right;
			}

			li.menu-item-has-children > a::after {
				content: none;
			}

			li.menu-item-has-children > a::before {
				@include icon($icon-left, 12rem);
				vertical-align: baseline;
				margin-right: 5px;
				color: $color__primary;
				transition: transform 200ms ease-out;
			}

			ul ul {
				padding-top: 30px;
			}

			&.selected-menu,
			.ie &:hover,
			.no-js &:hover {
				> .sub-menu-wrap {
					right: 0;
				}
			}

			ul li.selected-menu,
			.ie & ul li:hover,
			.no-js & ul li:hover {

				> a::before {
					transform: translateX(-6px);
				}

				> .sub-menu-wrap {
					left: auto;
					right: 100%;

					> ul {
						animation: elcanoSlideLeft 200ms ease-in-out forwards;
					}
				}
			}
		}
	}
}
