/* Secondary Menu */
.second-nav {
	display: flex;

	.search-form {
		display: none;
	}
}

.secondary-menu {
	position: relative;
	width: 100%;
	font: normal 700 13rem/28rem $font__menu;
	color: $color__white;

	ul {
		justify-content: flex-start;
		background: transparent;
	}

	li {
		position: static;

		&:hover {
			color: inherit;
		}

		// Keep sepaterd for IE
		&:focus-within {
			color: inherit;
		}
	}

	a {
		line-height: 48px;
		padding: 0 5px;
		font-size: 13rem;
		text-transform: uppercase;

		&:focus {
			text-decoration: underline;
		}
	}

	li.menu-item-has-children > a::after {
		color: inherit;
	}

	.sub-menu-wrap ul {
		padding: 12px 0 30px 27px;
		background: fixed linear-gradient(to right, $color__gradient-start 0%, $color__gradient-end 100%) no-repeat center, linear-gradient(to right, $color__gradient-start 0%, $color__gradient-start 50%, $color__gradient-end 51%, $color__gradient-end 100%);
		background-size: min(1440px, calc(100vw - 20px)) 200%, 100%;
		font-size: 14rem;

		li {
			border-left: 1px solid $color__white;
		}

		a {
			min-width: 300px;
			padding: 0 20px;
			font-size: 14rem;
			line-height: 32px;
		}
	}

	// Align right
	li.to-right {
		margin-left: auto;

		~ li {
			margin-left: 20px;
		}
	}

	li.selected-menu,
	.ie & li:hover,
	.no-js & li:hover {

		> .sub-menu-wrap {
			left: -10px;
			right: -10px;
			min-width: 100%;
		}
	}
}

@include desktop {

	.second-nav .search-form {
		display: block;
	}

	.secondary-menu {
		padding-right: 10px;
		margin-right: 20px;

		&::after {

			@include pseudo;
			right: 0;
			top: 13px;
			bottom: 13px;
			border-left: 1px solid $color__white;
		}

		a {
			padding: 0 10px;
		}

		li {
			position: relative;
		}

		li.menu-item-has-children > a::after {
			margin-left: 10px;
		}

		li.to-right::before {

			@include pseudo;
			left: -10px;
			top: 13px;
			bottom: 13px;
			border-left: 1px solid $color__white;
		}

		.sub-menu {
			padding: 25px 0 35px 30px;

			a:hover {
				text-decoration: underline;
			}
		}

		li.selected-menu,
		.ie & li:hover,
		.no-js & li:hover {

			> .sub-menu-wrap {
				left: -10px;
				right: auto;
			}
		}
	}
}
