/* Top Menu */
.top-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font: normal 700 13rem/40px $font__menu;
	color: $color__gray;
	.top-menu {
		.menu {
			gap: 30px;
			@media (max-width: 1151px) {
				margin-right: 15px;
				display: none;
			}
		}
	}
}

.top-tabs {
	margin-left: -10px;
	margin-right: auto;

	* {
		display: inline-block;
		padding: 0 18px;
		text-transform: uppercase;
	}

	span {
		background-color: $color__white;
		color: $color__primary;
	}

	a {
		text-decoration: none;
		color: $color__gray;

		&:hover {
			color: $color__primary;
		}
	}
}

.top-languages {
	margin-left: 40px;
	margin-right: 7px;
	@media (max-width: 1151px) {
		display: none;
	}
}
// TODO: move to file
.languages-select {

	@include reset-list;

	li {
		display: inline-block;
	}

	li:nth-child(n+2)::before {
		content: "/";
		font-weight: 400;
	}

	a {
		padding: 0 5px;
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color__primary;
		}
	}

	.current a {
		color: $color__primary;
	}
}

.top-nav .languages-select {
	display: none;
}

.top-menu {
	display: block;
	margin-left: 40px;
	font-size: 13rem;

	ul {
		background-color: #efefef;
	}

	li[class*="icon-"]::before {
		color: $color__primary;
	}

	a {
		line-height: 40px;
		text-transform: uppercase;
	}

	li.menu-item-has-children > a::after {
		margin-left: 10px;
	}

	.sub-menu-wrap {
		left: auto;
		right: -10px;
		font-size: 14rem;
	}
}

@media (min-width: 1150px) {

	.top-nav .languages-select,
	.top-nav .top-menu {
		display: block;
	}

}
