blockquote,
.wp-block-quote {
	position: relative;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 0 0 0 2.5em;
	border: none;
	font: normal 500 22rem/1.272 $font__main;
	color: $color__gray;

	&::before {

		@include icon($icon-quotes, 30rem, block);
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -0.5em;
		color: $color__primary;
	}
}
