body {
	max-width: $size__site-width;
	margin: 0 auto;
	background: $color__background-body;
	overflow-x: hidden;
}

.scrollbar-visible::-webkit-scrollbar {
	width: 8px;
	background-color: $color__white;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
	background-color: $color__primary;
}

.scrollbar-visible::-webkit-scrollbar-thumb:hover {
	background-color: $color__red;
}
