.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	height: 50px;
	padding: 0 1.5em;
	margin-bottom: 12px;
	border: 2px solid $color__border-button;
	border-radius: 6px;
	background: $color__background-button;
	color: $color__text-button;
	font: normal 500 16rem/50px $font__main;
	text-align: center;
	text-decoration: none;
	transition: all 200ms ease-out;

	&.btn--fullwidth {
		width: 100%;
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:active,
	&:focus {
		background: $color__background-button-hover;
		color: $color__text-button-hover;
		border-color: $color__border-button-hover;
	}

	// With icon.
	&::before {
		margin-right: 10px;
		margin-left: -6px;
		vertical-align: -10%;
	}

	&:disabled,
	&.btn--disabled {
		background-color: $color__white !important;
		color: $color__primary-soft !important;
		cursor: default;
	}
}

a.btn:visited {
	color: $color__text-button;

	&:hover,
	&:active,
	&:focus {
		color: $color__text-button-hover;
	}
}
