input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	padding: 0 32px 0 20px;
	border: 1px solid $color__border-input;
	border-radius: 30px;
	line-height: 48px;
	outline: none;
	box-shadow: none;

	&::placeholder {
		color: $color__text-input-placeholder;
	}

	&:focus {
		color: $color__text-input-focus;
		border-color: $color__border-input-focus;
	}
}

textarea {
	width: 100%;
	line-height: $font__line-height-body;
	resize: vertical;
}

select {
	color: $color__text-input;
	border: 1px solid $color__border-input;

	&:focus {
		color: $color__text-input-focus;
		border-color: $color__border-input-focus;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: none !important;
}
