/* Search Form */
.search-form {

	.search-field {
		width: 300px;
		height: 30px;
		line-height: 30px;
		padding: 0 10px 0 40px;
		border: 1px solid $color__white;
		border-radius: 15px;
		color: $color__gray;
		background: $color__white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%232C3A4B' d='M15.8 14 11.3 10c.8-1 1.4-2.3 1.4-3.7 0-3.3-2.9-6-6.4-6C2.8.3 0 3 0 6.3 0 9.4 2.8 12 6.3 12c1.5 0 3-.4 4-1.3L15 15l.4.1.5-.1c.3-.3.3-.7 0-1Zm-9.5-3.2c-2.7 0-5-2-5-4.6 0-2.6 2.3-4.7 5-4.7 2.8 0 5 2.1 5 4.7 0 2.5-2.2 4.6-5 4.6Z'/%3E%3C/svg%3E") no-repeat 11px 6px;
		background-size: 16px 16px;

		&:hover,
		&:focus {
			border-color: $color__gray;
		}
	}

	.search-submit {
		display: none;
	}
}

.top-nav {
	.search-form {
		width: 300px;
		@media (max-width: 1151px) {
			display: none;
		}
	}
}