$color__red: #da201c;
$color__primary: #bb2521;
$color__primary-soft: #f0a6a4;
$color__primary-softer: #f9eae9;
$color__promary-border: #E4A8A6;

$color__gradient-start: #9d3341;
$color__gradient-end: #f04d64;
$color__gradient: linear-gradient(to right, $color__gradient-start 0%, $color__gradient-end 100%);

$color__black: #000;
$color__gray: #2C3A4B;
$color__gray-medium: #989EA5;
$color__gray-soft: #545d69;
$color__gray-softer: #f0f0f0;
$color__gray-blue: #2c3a4b;
$color__white: #fff;

$color__background-body: $color__white;
$color__background-screen: #f1f1f1;
$color__background-header:  #F4F6F9;
$color__background-hr: #dadee3;
$color__background-button: $color__white;
$color__background-button-hover: $color__primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #858c94;
$color__text-input-focus: #858c94;
$color__text-input-placeholder: #858c94;
$color__text-button: $color__primary;
$color__text-button-hover: $color__white;
$color__link: $color__primary;
$color__link-visited: $color__primary-soft;
$color__link-hover: #9d3341;
$color__text: $color__gray;

$color__border-button: $color__primary;
$color__border-button-hover: $color__primary;
$color__border-input: $color__gray-soft;
$color__border-input-focus: $color__gray;
$color__border-abbr: #666;
