// stylelint-disable value-keyword-case
$font__main: Roboto, sans-serif;
$font__alt: "Roboto Condensed", sans-serif;
$font__icons: "Elcano Icons";
$font__form: $font__main;
$font__menu: $font__alt;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__size-body: 18rem;
$font__size-form: 13rem;
$font__line-height-body: 1.7778;
$font__line-height-pre: 1.6;

// Icons
$icon-settings: "\e900";
$icon-menu: "\e901";
$icon-more: "\e902";
$icon-cross: "\e903";
$icon-down: "\e904";
$icon-left: "\e905";
$icon-right: "\e906";
$icon-up: "\e907";
$icon-mailbox: "\e908";
$icon-cal: "\e909";
$icon-cal-alt: "\e90a";
$icon-play: "\e90b";
$icon-audio: "\e90c";
$icon-link: "\e90d";
$icon-heart: "\e90e";
$icon-paste: "\e90f";
$icon-mark: "\e910";
$icon-pages: "\e911";
$icon-quotes: "\e912";
$icon-email: "\e913";
$icon-eye: "\e914";
$icon-download: "\e915";
$icon-arrow: "\e916";
$icon-facebook: "\e917";
$icon-instagram: "\e918";
$icon-twitter: "\e919";
$icon-rss: "\e91a";
$icon-youtube: "\e91b";
$icon-linkedin: "\e91c";
$icon-filter: "\e91d";
$icon-page: "\e91e";
