.site {
	margin: 0 auto;
	padding: 0 10px;
}

.site-content {
	max-width: $size__content-width;
	margin: -1px auto;
	padding: 1px 0;
}

.site-main {
	margin-bottom: 70px;
}

.contentwidth {
	max-width: $size__content-width;
	margin-left: auto;
	margin-right: auto;
}

// Width extend to max (1440px)
.fullwidth {
	width: 100vw;
	max-width: $size__site-width;
	margin-left: calc((min(1440px, 100vw) - 100%) / -2);
}

// Width to all window
.viewwith {
	width: 100vw;
	margin-left: calc((100vw - 100%) / -2);
}

@include desktop {
	// Content columns (aside / main / aside)
	.columns {
		display: flex;
		flex-flow: row nowrap;

		.maincol {
			width: 100%;

			&.maincol--medium {
				max-width: 740px; // 760px;
			}

			&.maincol--small {
				max-width: 637px // 662px;
			}

			&.maincol--tiny {
				max-width: 562px;
			}
		}

		aside,
		.aside {
			flex-shrink: 0;
			width: 295px;
			padding-left: $size__content-sep;

			&.aside--left {
				order: -1;
				padding-left: 0;
				padding-right: $size__content-sep;
			}

			&.aside--small {
				width: 200px;
			}

			&.aside--available {
				flex: 1 0;
			}
		}
	}

	// One centered column
	.onecol {

		@include center-block;
		max-width: 837px; // 858px;

		&.onecol--medium {
			max-width: 740px; // 760px;
		}

		&.onecol--small {
			max-width: 637px; // 662px;
		}

		&.onecol--tiny {
			max-width: 562px;
		}

		&.onecol--to-left {
			margin-left: 0;
		}

		&.onecol--left {
			margin-left: 295px;
		}

		&.onecol--left-small {
			margin-left: 200px;
		}
	}
}
