
// Redefine mix max (prevent sass error can't mix units)
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Clear list style
@mixin reset-list($margin: 0, $padding: 0) {
	margin: $margin;
	padding: $padding;
	list-style: none;
}

@mixin clearfix {

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

// Use for pseudo code
@mixin pseudo($display: block, $pos: absolute, $content: "") {
	content: $content;
	display: $display;
	position: $pos;
}

// Icon content
@mixin icon($content: "", $font-size: 1em, $display: inline-block) {
	content: $content;
	display: $display;
	font: normal 400 normal $font-size/1 $font__icons;
}

// Image fit
@mixin fit($w: false, $h: 1, $position: relative, $fit: cover) {
	position: $position;

	&::before {
		content: '';
		float: left;
		@if $w {
			padding-top: calc(#{$h} / #{$w} * 100%);
		}
	}

	img {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: $fit;
	}
}

// aspect-ratio fallback
// @include aspect-ratio(w, h) | e.g. aspect-ratio(4, 3) => padding-top: 75%
@mixin aspect-ratio($w: 1, $h: 1) {
	&::before {
		padding-top: calc(#{$h} / #{$w} * 100%);
	}
}

// Mobile
@mixin mobile {

	@media (max-width: 768px) {
		@content;
	}
}

// Desktop
@mixin desktop {

	@media (min-width: 769px) {
		@content;
	}
}

// Wider than site width
@mixin wider {

	@media (min-width: $size__site-width) {
		@content;
	}
}
