.authors {

	.fn {
		color: $color__gray;
		font: normal 500 14rem/1.429 $font__main;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.author__photo {
		flex-shrink: 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $color__primary-softer;
		overflow: hidden;
	}

	&.authors--small {

		.authors__author {
			display: inline-flex;
			vertical-align: top;
			align-items: center;
			min-width: 200px;
			padding-right: 10px;
			margin: 3px 0;

			.author__photo {
				margin-right: 10px;
			}
		}
	}

	&.authors--bio {

		.authors__author {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			position: relative;
			min-height: 90px;
			padding: 20px 0 20px 60px;

			&:nth-child(n+2) {
				border-top: 1px solid $color__gray-softer;
			}
		}

		.author__photo {
			position: absolute;
			top: 20px;
			left: 0;
		}

		.author__by {
			color: $color__gray-soft;
			font: normal 500 14rem/1.429 $font__main;
			margin: 0;
		}

		.author__bio {
			margin: 10px 0 0;
			font-size: 14rem;
			line-height: 20px;

			&:empty {
				display: none;
			}
		}
	}

	@include desktop {

		.author__photo {
			width: 74px;
			height: 74px;
		}

		&.authors--bio {

			.authors__author {
				min-height: 134px;
				padding: 30px 0 30px 90px;
			}

			.author__photo {
				top: 30px;
			}

			.author__bio {
				font-size: 18rem;
				line-height: 32px;
			}
		}
	}
}
