a.category,
a[rel="category"],
.cat-item a,
a.tag,
a[rel="tag"] {
	display: inline-block;
	max-width: 100%;
	padding: 0 12px;
	border-radius: 5px;
	color: #2c3a4b;
	font: normal 700 14rem/24px $font__alt;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
}

a.category,
a[rel="category"],
.cat-item a {
	background-color: rgba(187, 37, 33, 0.4);
	color: #2c3a4b;

	&:hover {
		background-color: rgba(187, 37, 33, 0.5);
	}
}

a.tag,
a[rel="tag"] {
	line-height: 36px;
	background-color: rgba(187, 37, 33, 0.1);

	&:hover {
		background-color: rgba(187, 37, 33, 0.2);
	}
}

ul.tags-links {

	@include reset-list;
	display: flex;
	flex-flow: row wrap;
	margin: 0 -12px -12px 0;

	li {
		max-width: 100%;
		margin: 0 12px 12px 0;
	}
}

.categories {
	position: relative;
	margin: 24px 0 32px;
	white-space: nowrap;

	ul {

		@include reset-list;
		padding: 0 24px;
	}

	li {
		display: inline-block;
		padding: 0 6px;
		font-size: inherit !important;
	}

	.cat-wrap {
		position: relative;
		z-index: 1;
		overflow: hidden;
	}

	.categories-links {
		display: block;
	}

	.cat-nav div {
		position: absolute;
		z-index: 2;
		top: 0;
		width: 24px;
		height: 24px;
		color: $color__gray-soft;
		cursor: pointer;

		&:hover {
			color: $color__primary;
		}
	}

	.cat-prev {
		left: 0;
		background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
		text-align: left;
	}

	.cat-next {
		right: 0;
		background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
		text-align: right;
	}
}

.post-type {
	&:before {
		@include icon($icon-page, 16rem);
		margin-right: 6px;
		vertical-align: text-bottom;
	}

	display: inline-block;
	height: 30px;
	padding: 0 12px;
	background-color: $color__white;
	color: $color__gray-soft;
	font-family: $font__alt;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	//text-transform: capitalize;
}

.single article .post-type {
	height: 36px;
	line-height: 36px;
}

@include desktop {

	a.category,
	a[rel="category"],
	.cat-item a {
		line-height: 36px;
	}

	.categories {
		margin: 34px 0 48px;

		.cat-nav div {
			height: 36px;
			line-height: 36px;
		}
	}

	.post-type {
		//height: 36px;
		line-height: 16px;
	}
}
