/*Contenido especiales*/

.single-special {

	.site-content {
		max-width: 1440px;
	}

	.entry-header {
		
		.post-thumbnail {
			margin-bottom: 40px;
			position: relative;

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #FFFFFF99;
			}
		}
		
	}

	.entry-description {
		font: normal 400 24rem "Roboto Condensed", sans-serif;
	}

	.special-title {
		border-bottom: 1px solid $color__gray-softer;
		padding-bottom: 24px;
	}

	.special-author {
		font-size: 14rem;
	}

	.special-tags,
	.special-tags > .wp-block-group__inner-container {
		margin-block-start: inherit !important;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 8px;

		.tag-style {
			margin-block-start: inherit !important;
			margin: 0;
			display: flex;
			background-color: #BB252180;
			padding: 4px 8px;
			border-radius: 4px;
			a {
				text-decoration: none;
				font-weight: 700;
				font-size: 14rem;
				font-family: "Roboto Condensed", sans-serif;
				color: $color__black;
			}
		}
	}

	.special-toc {
		width: 25%;
		position: sticky;
		align-self: flex-start;
		top: 150px;
		overflow-y: auto;
	}
	.lwptoc {
		.lwptoc_title {
			font-size: 16rem;
			font-weight: 400;
			text-transform: uppercase;
			font-family: "Roboto Condensed", sans-serif;
		}
		.lwptoc_item {
			a {
				text-decoration: none;
				font-size: 14rem;
				font-weight: 400;
				color: $color__text;
				&:hover {
					text-decoration: underline;
					font-weight: 700;
					color: $color__primary;
				}
				.lwptoc_item_number {
					font-weight: 700;
					color: $color__primary;
				}
			}
			&.active a{
				font-weight: 700;
				color: $color__primary;
			}
			
		}
	}

	.entry-content {
		.content, 
		.full-document, 
		.special-tags {
			padding: 32px 0; 
			border-bottom: 1px solid $color__gray-softer;
		}

		a {
			color: $color__gray-blue;
			&:hover {
				color :$color__primary;
			}
		}

		.elcano-card.horizontal {

			border: none;

			.post-thumbnail {
				img {
					border-radius: 4px 0 0 4px;
				}
			}
			.post-info {

				padding: 16px 0;
				.entry-title {
					font-size: 18rem;
					font-weight: 400;
					a {
						text-decoration: none;
					}
				}
				.posted-on {
					font-weight: 400;
				}
			}
		}

		.content .wp-block-group {
			padding: 16px 0;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}
		}
		.wp-block-embed iframe {
			width: 100%;
		}
		
	}

	.special-share {
		border-bottom: 1px solid $color__gray-softer;
		.love, .share {
			margin: 32px 0;
		}
		.share {
			margin-left: auto;
			ul {
				text-align: right;
			} 
		}
		.widget-title {
			display: none;
		}
	}

	.timeline-holder {

		position: relative;
		padding: 24px 0;
		display: flex;
		flex-direction: row;
		text-align: center;
		margin-block-start: 0;
		justify-content: space-evenly;

		.timeline-element {

			display: flex;
    		flex-direction: column;
			position: relative;
			width: 100%;
			margin-block-end: 0;
			margin-block-start: 0;
			flex-basis: content;
			align-self: center;

			&:hover {
				.timeline-element--content {
					visibility: visible;
					opacity: 1;
				}
			}

			&--title {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 20px;
				font-weight: 700;
				margin: 0;
				color: $color__primary;
			}

			&--content {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 300px;
				text-align: center;
				border: 1px solid $color__gray-soft;
				background-color: #fff;
				padding: 8px;
				transition: opacity .3s ease-in-out;
				z-index: 10;
				p {
					font-size: 14px;
				}
			}

			&--icon {
				svg {
					vertical-align: middle;
				}
			}

			&.title-top {	

				margin-bottom: 35px;
				.timeline-element--content { 
					top: 150px;

					&:before {
						content: "";
						border: 1px solid #2c3a4b;
						display: block;
						width: 65px;
						transform: rotate(90deg);
						position: absolute;
						left: 50%;
						top: -40px;
						transform: translateX(-50%) rotate(90deg);
					}
				}
			}
			&.title-bottom {

				flex-direction: column-reverse;
				margin-top: 35px;
				.timeline-element--content { 
					bottom: 150px;

					&:after {
						content: "";
						border: 1px solid #2c3a4b;
						display: block;
						width: 65px;
						transform: rotate(90deg);
						position: absolute;
						left: 50%;
						bottom: -40px;
						transform: translateX(-50%) rotate(90deg);
					}
				}
				.timeline-element--title {
					color: #000;
				}
			}
		}

		.timeline-icon:hover{
			svg {
				fill: #000;
			}
		}
		&:after {
			content: "";
			width: 100%;
			border-bottom: 1px solid $color__primary;
			position: absolute;
			top: 50%;
			left: 0;
		}
	}

	.title-social-block {
		display: flex;
		.s-title {
			width: 75%;
			.tag-style {
			margin-right: 10px;
			margin-top: 30px;
			.special-tag {
				background-color: rgba(187, 37, 33, .4);
				color: #2c3a4b;
				padding: 12px;
				border-radius: 5px;
				font: normal 700 14rem / 24px "Roboto Condensed", sans-serif;
				white-space: nowrap;
				text-decoration: none;
				text-transform: uppercase;
				text-overflow: ellipsis;
				overflow: hidden;
				vertical-align: top;
				line-height: 36px;
			}
			}
		}
		.s-social {
			width: 25%;
		}
	}

	.the-archive--grid {
        align-items: baseline;
    }

	.the-archive--grid > article {
		font-family: "Roboto";
		border: 1px solid $color__gray-softer;

		.post-info {
			padding: 16rem;
		}
		.post-category {
			margin: 0;

			a {
				display: block;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
		.category-link {
			font-family: "Roboto condensed";
			text-transform: uppercase;
			text-decoration: none;
			font-size: 14rem;
			font-weight: 700;
			color: $color__gray-soft;

			&:hover {
				text-decoration: underline;
			}
		}
		.entry-title {
			font-family: "Roboto";
			font-size: 18rem;
			font-weight: 400;
			height: 78px;
			color: $color__gray-blue;

			a {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}

		.posted-on {
			white-space: normal;
		}
	}

	.entry-footer {
		h3 {
			font-family: "Roboto condensed";
			font-weight: 500;
			font-size: 28rem;
			text-align: center;
		}
		.the-archive {
			grid-template-columns: repeat(4, 1fr);
			overflow-x: scroll;
		}
	}

	@media (max-width: 480px) {
		.special-toc { 
			width: 100%;
			position: initial;
			overflow-y: none;
		}
		.lwptoc {
			.lwptoc_i {
				padding: 0;
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}

	@media (min-width: 781px) { 

		article.elcano-card {
			
			&.horizontal {
				grid-template-columns: 20% calc( 80% - 24px ); /* Se resta el gap */
			}
		}
	}
}