.page-template-template-contact {
	.site-main, .entry-content {
		margin: 0;
	}
}
#contact-page {
	*:not(a) {
		color: $color__gray-blue;
	}
	a {
		font-weight: 700;
	}
	.entry-header h1{
		font-size: 40rem;
		font-weight: 700;
		text-transform: none;
		position: relative;

		&::after {
			position: absolute;
			top: 50%;
			margin-left: 24px;
		}
	}

	.heading-image{ 
		margin-bottom: 24px;
		img {
			max-height: 320px;
			object-fit: cover;
			border-radius: 12px;
			width: 100%;
		}
	}

	.contact-cols {
		margin-bottom: 36px;
		.wp-block-column {
			border: 1px solid $color__gray-medium;
			border-radius: 12px;
			padding: 36px;
			.wp-block-group {
				margin-block-start: 12px;
			}
			h2 {
				font-size: 26rem;
				font-weight: 700;
				text-align: left;
			}
			p {
				font-size: 18rem;
				line-height: 22px;
			}
			.icon-list {
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				row-gap: 8px;
				li {
					display: flex;
					flex-direction: row;
					align-items: center;
					column-gap: 8px;
				}
				p {
					margin: 0;
				}
			}
		}
	}

	.contact-details-bottom {
		.wp-block-group{
			margin-block-start: 12px;
			h3 {
				font-family: Roboto, sans-serif;
				font-size: 24rem;
				font-weight: 500;
				line-height: 28rem;
			}
			p {
				margin-top: 8px;
			}
		}
	}

	.section-newsletter {
		position: relative;
		padding: 5px 0 100px;
		margin-top: 60px;
		background-color: $color__gray-softer;
		padding: 30px 0;
		display: grid;
		grid-template-columns: 100%;
		gap: 40px;
	
		&::before {
	
			@include pseudo;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: calc((50vw - 50%) * -1);
			width: 100vw;
			background-color: inherit;
		}
	
		.envelope-icon {
	
			position: relative;
	
			&::before {
	
				@include icon($icon-email, 48px, block);
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 48px;
				height: 48px;
				line-height: 48px;
				text-align: center;
				color: $color__primary;
			}
		}
	
		.left-col {
			position: relative;
	
			h2 {
				font-size: 40px;
				font-weight: 700;
				margin: 0;
			}
		}
	
		.newsletter-form {
	
			a {
				font-size: 16rem;
				font-weight: 600;
				color: $color__black;
			}
	
			label {
				font-size: 16rem;
				font-weight: 400;
			}
			#newsletter-email {
				width: 100%;
				border-radius: 6px;
				padding: 0 16px;
				line-height: 40px;
				font-size: 16px;
			}
	
			.privacy-input-group {
				margin: 24px 0;
				label {
					margin-right: 8px;
					font-size: 16px;
					color: $color__black;
				}
			}
	
			.btn {
				border-radius: 4px;
				padding: 0 24px;
				background-color: $color__primary;
				color: $color__white;
				cursor: pointer;
	
				&:hover {
					color: $color__primary;
					background-color: $color__white;
				}
			}
	
			.subscription-manage {
				text-align: center;
				margin: 4px 0;
			}
		}
	}
}

@media (max-width: 768px) { 
	#contact-page { 
		.heading-image img {
			max-height: 120px;
		}

		.contact-cols .wp-block-column {
			padding: 26px;
			h2 {
				font-size: 20rem;
			}
			p {
				font-size: 14rem;
			}
		}

		.contact-details-bottom {
			.wp-block-group{
				h3 {
					font-size: 20rem;
					line-height: 24px;
					font-weight: 700;
				}
				p {
					font-size: 16rem;
					line-height: 18.75px;
				}
			}
		}
	}
}

@media (min-width: 1024px) { 
	#contact-page {
		.section-newsletter {
			grid-template-columns: 5% 45% 45%;
			padding: 70px 0;

			.envelope-icon {
		
				&::before { 
					position: absolute;
				}
			}

			.left-col {
		
				h2 {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}