/* Home Page */
.error404 {

	.tns-outer {
		margin: 0 -10px;
	}

	.tns-ovh {
		padding: 0 10px;
	}

	.the-archive.tns-slider {
		gap: 0;

		.tns-item:last-child {
			padding-right: 0 !important;
		}
	}

	.the-archive {
		display: grid;
		gap: 8px;

		article {
			max-width: 566px;
		}
	}

	.all-button {
		padding: 20px 0;
		text-align: center;
	}
}

.error404-header {

	.search-404 input {
		width: 100%;
	}

	.categories-title {
		margin: 36px 0 -10px;
		font: normal 700 14rem/1.714 $font__alt;
		text-transform: uppercase;
	}

	.categories {

		.cat-nav div {
			height: 36px;
			line-height: 36px;
			background: transparent;
			color: $color__white;
		}

		.cat-wrap {
			-webkit-mask-image: linear-gradient(90deg, transparent 15px, #fff 30px, #fff calc(100% - 30px), transparent calc(100% - 15px));
		}

		.categories-links a {
			line-height: 36px;
			background-color: #e09694;
			color: #2c3a4b;
		}
	}

	.page-title {
		max-width: min(80%, 760px);
		margin: 30px 0;
		font-size: 26rem;
		line-height: 1.154;
	}
}


@include desktop {

	.error404 {

		.the-archive {
			gap: 20px;
		}

		.all-button {
			padding: 40px 0;
		}
	}

	.error404-header {
		margin-bottom: 60px;

		.error404-inner {
			min-height: 630px;
		}

		.page-title {
			font-size: 44rem;
		}

		.search-404 input {
			width: 300px;
		}

		.categories-title {
			margin-bottom: -40px;
		}
	}
}
