/* Header with overlay and icon */
.single .header-overlay {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 340px;
	padding: 20px 10px;
	color: $color__white;
	text-align: center;

	&::before {

		@include pseudo;
		z-index: 1;
		inset: 0;
		background-color: $color__black;
		opacity: 0.5;
		mix-blend-mode: multiply;
	}

	&::after {

		@include icon($icon-pages, 32rem, block);
		z-index: 2;
		order: -1;
		width: 66px;
		height: 66px;
		margin: 0 auto;
		border: 6px solid $color__white;
		border-radius: 50%;
		line-height: 54px;
		transition: transform 300ms ease-in-out;
	}

	> * {
		z-index: 2;
		order: 1;
		max-width: 760px;
		color: inherit;
	}

	.post-thumbnail {
		position: absolute;
		z-index: 0;
		inset: 0;
		max-width: none;
		height: auto;
		margin: 0;
	}

	.post-category {
		order: 0;
		margin: 10px auto 0;

		a.category {
			padding: 2px 8px;
			border-radius: 4px;
			background-color: rgba(255, 255, 255, 0.3);
			color: $color__white;
			font: normal 700 14rem/1.429 $font__alt;
			letter-spacing: 0.05em;
			text-transform: uppercase;

			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
	}

	.post-authors {
		color: $color__gray-soft;
		font: normal 500 14rem/1.429 $font__main;

		.fn {
			color: $color__white;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.posted-on {
		margin-top: 24px;
	}

	.entry-meta {
		margin: 0;
		text-align: left;

		.authors .fn {
			color: $color__white;
		}

		.posted-on {
			margin: 0;
			color: $color__white;
		}
	}

	& ~ .entry-meta {
		display: none;
	}
}

.single.single-project .header-overlay {
	&::after {
		display: none;
	}
}

.header-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: none;
	min-height: 56px;
	margin: 0;
	background: $color__gradient;
	color: $color__white;
	font: normal 700 14rem/56px $font__main;
	white-space: nowrap;
	text-transform: uppercase;

	a {
		padding: 0 20px;
		margin-top: -1px;
		border-top: 1px solid $color__white;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&::before {
			margin-right: 10px;
			font-size: 1.4em;
			vertical-align: text-bottom;
		}
	}
}

#calendar-activity ul {
	margin: 0;

	li {
		list-style-type: none;
		position: relative;

		#block-calendar-options {
			position: absolute;
			top: 100%;
			left: 0px;
			background: fixed linear-gradient(to right, #9d3341 0%, #f04d64 100%) no-repeat center,linear-gradient(to right, #9d3341 0%, #9d3341 50%, #f04d64 51%, #f04d64 100%);
			padding: 12px 0 30px 27px;
			display: none;

			ul {
				padding: 0;

				li {
					border-left: 1px solid #fff;
					line-height: 32px;

					a {
						min-width: 300px;
						padding: 0 20px;
						font-size: 14rem;
						border-top: none;
					}
				}
			}
		}
	}
}

@include mobile {
	.single header > .post-thumbnail {
		width: 100vw;
		margin-left: calc((100vw - 100%) / -2);
	}
}

@include desktop {

	.single .header-overlay {
		height: 570px;

		&.header-overlay--links {
			height: 520px;
		}

		&::after {
			width: 100px;
			height: 100px;
			border-width: 10px;
			font-size: 50rem;
			line-height: 80px;
		}

		.post-category {
			margin-top: 40px;
		}

		.entry-meta {
			display: none;
		}

		& ~ .entry-meta {
			display: block;

			.posted-on {
				display: inline-block;
				margin-top: 24px;
			}
		}
	}

	.header-links {
		min-height: 64px;
		line-height: 64px;
	}

	.single header .post-thumbnail {
		height: 570px;
		margin-bottom: 12px;
	}
}
