/* Home Page */
.home {

	.site-main {
		margin-bottom: 0;
	}

	.tns-outer {
		margin: 0 -10px;
	}

	.tns-ovh {
		padding: 0 10px;
	}

	.the-archive.tns-slider {
		gap: 0;

		.tns-item:last-child {
			padding-right: 0 !important;
		}
	}

	.baseline {
		position: relative;
		&::after {
			position: absolute;
			top: 50%;
			margin-left: 24px;
		}
	}

	.section-title {
		h2 {
			font-size: 24rem;
			font-weight: 500;
			color: $color__gray-blue;
		}
	}

	.the-archive {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 8px;
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		article {
			min-width: 224px;
			max-width: 566px;
		}
	}

	.all-button {
		padding: 20px 0;
		text-align: center;

		.btn {
			font-size: 16rem;
			font-weight: 700;
			line-height: 20rem;
			padding: 8px 12px;
			height: auto;
		}
	}

	.top-separator {
		position: relative;
		padding-top: 20px;

		&::before {

			@include pseudo;
			top: 0;
			left: calc((50vw - 50%) * -1);
			width: 100vw;
			height: 0;
			border-top: 1px solid $color__gray-softer;
		}
	}

	article.elcano-card {
		border: none;
		.entry-title {
			max-height: 45px;
			height: auto;
		}
		.post-info {
			padding: 24rem 0 0;
		}

	}


/* Hero Header */
.hero-header {
	position: relative;
	margin-bottom: 40px;

	.hero-thumbnail {
		position: absolute;
		z-index: 1;
		inset: 0;
		overflow: hidden;

		&::after {

			@include pseudo;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.65);
		}

		img {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.hero-content {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		min-height: 520px;
		padding: 0 17px 17px;
		color: $color__white;

		* {
			color: inherit;
		}

		p {
			margin: 0;
		}
	}
}

.home-header {
	.hero-content {
		a {
			display: inline-block;
			color: $color__white !important;
			text-decoration: none;

			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}

	.home-headline {
		max-width: min(80%, 760px);
		padding: 40px 0 10px;

		p {
			line-height: 1;
		}

		a.category {
			padding: 2px 8px;
			border-radius: 4px;
			background-color: rgba(255, 255, 255, 0.3);
			line-height: 1.429;

			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
				text-decoration: none;
			}
		}

		.post-title {
			margin: 16px 0;
			font-size: 48rem;
			font-weight: 500;
			line-height: 1.45;
		}

		.by {
			display: none;
		}

		.post-meta * {
			font-size: 16rem;
			font-weight: 400;;
		}
	}

	.the-archive {

		.post-inner {
			border-top: 1px solid $color__primary;
		}

		.post-category {
			margin: 18px 0 6px;
		}

		.post-title {
			line-height: 1.444;
		}
	}

	.tns-nav {

		button {
			background-color: rgba(255, 255, 255, 0.5);
		}

		.tns-nav-active {
			background-color: rgba(255, 255, 255, 1);
		}
	}
}


.home-latest {
	padding-bottom: 30px;

	.latest-main-section {
		display: grid;
		grid-template-columns: 100%;
		width: 100%;
		gap: 40px;
		margin-bottom: 40px;

		.excerpt {
			font-size: 16rem;
			margin: 0 0 16px;
		}

		.left-col {
			.entry-title {
				font-size: 24rem;
			}
			.post-thumbnail img{
				height: auto;
			}
		}
		.right-col {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.post-thumbnail img {
				height: 165px;
			}
			
			.excerpt {
				font-size: 14rem;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				-webkit-line-clamp: 2; /* number of lines to show */
				line-clamp: 2;
			}
		}
	}

	/*.post-thumbnail {
		@include aspect-ratio;
	}*/

	.secondary-publications {

		grid-template-columns: 100%;
		width: 100%;
		gap: 40px;

		.elcano-card {
			border-bottom: 1px solid $color__promary-border;
			padding: 16px 0;
		}
	}
}

.home-main-posts,
.experts-publications {
	.post-thumbnail img {
		height: 165px;
	}
}

.section-next-activities {

	display: grid;
	grid-template-columns: 100%;
	grid-gap: 24px;

	.section-title a {

		text-decoration: none;
		transition: all 500ms ease-in-out;
		&:hover { 
			text-decoration: underline;
			color: $color__gray;
		}

		&::after {
			@include icon($icon-arrow, 0.75em);
			margin-left: 0.5em;
			vertical-align: 5%;
			color: $color__gray-blue;
		}
	}


	.left-col {
		h2 {
			margin-top: 0;
		}

		p, a {
			font-size: 16rem;
			font-weight: 400;
			color: $color__gray-blue;
		}
	}
	article {
		display: grid;
		grid-template-columns: 25% calc( 75% - 24px );
		padding: 16px;
		gap: 24px;
		border: 1px solid $color__promary-border;
		transition: all 300ms ease-in-out;
		margin-bottom: 26px;
		align-items: center;
		

		&:hover {
			background-color: $color__primary-softer;
		}

		.post-date, .post-info {
			display: flex;
			flex-direction: column;
			gap: 4px;
			height: 100%;
			justify-content: space-evenly;
		}

		.post-date {
			text-align: center;
			span {
				display: block;
				color: $color__gray-blue;

				&.weekday,
				&.time {
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 300;
				}

				&.date {
					font-size: 24px;
					font-weight: 700;
					white-space: nowrap;
				}
			}
		}

		.post-info {
			.post-category {
				margin: 0;
				a {
					line-height: 14px;
					padding: 8px;
				}
			}
			.entry-title {
				margin: 0;
				a {
					font-size: 16rem;
					font-weight: 400;
					color: $color__gray-blue;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.activities-secondary-title {
		margin: 0;
		margin-bottom: 24px;
		font-size: 20rem;
		font-weight: 500;
		color: $color__gray-blue;
	}
}

.section-recent-podcast {
	position: relative;
	padding: 5px 0 100px;
	margin: 20px 0;
	background-color: $color__gray-softer;
	padding: 40px 0;

	&::before {

		@include pseudo;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: calc((50vw - 50%) * -1);
		width: 100vw;
		background-color: inherit;
	}

	.section-title {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin: 0 0 40px;
		gap: 8px;

		h2 {
			flex-grow: 1;
			font-size: 24rem;
			font-weight: 500;
			color: $color__gray-blue;
			margin: 0;
		}

		a {
			color: $color__gray-blue;
			font: normal 400 16rem/1 $font__main;
			text-decoration: none;
			transition: all 500ms ease-in-out;
			margin: 0;

			&::after {

				@include icon($icon-arrow, 0.75em);
				margin-left: 0.5em;
				vertical-align: 5%;
				color: $color__gray-blue;
			}

			&:hover {
				text-decoration: underline;
				color: $color__gray;
			}
		}
	}

	.the-archive {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 23px;
		margin-top: 10px;

		article {
			position: relative;
			flex: auto;
			max-width: none;
			min-height: 74px;
			padding-left: 60px;

			&::before {

				@include icon($icon-audio, 17px, block);
				position: absolute;
				top: 0;
				left: 0;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				background-color: $color__primary;
				color: $color__white;
			}

			&:hover::before {
				color: $color__link-hover;
			}

			.post-category {
				margin: 0 0 15px;

				a {
					line-height: 14px;
					padding: 8px;
				}
			}

			.entry-title {
				margin: 0;
				color: $color__gray-blue;
				font: normal 500 16rem/1.5 $font__main;
			}
		}
	}
}

.section-recent-specials {

	.years {
		display: inline-block;
		margin: 10px 0 0;
		font-family: $font__alt;
		font-weight: 700;
	}

	.the-archive--main {
		grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
		gap: 24px;
		margin-bottom: 40px;

		article {
			min-width: 274px;

			.entry-title {
				font-size: 24rem;
				font-weight: 400;
			}
			a {
				position: relative;
				display: block;
				width: 100%;
				height: 240px;

				* {
					color: $color__white;
				}

				&:hover .entry-title {
					text-decoration: underline;
				}
			}

			.post-thumbnail {
				position: absolute;
				inset: 0;

				&::after {

					@include pseudo;
					inset: 0;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.65) 100%);
				}
			}

			.post-text {
				position: absolute;
				inset: auto 20px 10px;
			}
		}
	}

	.the-archive--secondary {

		article {
			.post-thumbnail {
				@include aspect-ratio(270, 176);
			}

			a {
				text-decoration: none;
			}

			.entry-title {
				margin: 0;
				margin-top: 24px;
				font-size: 16rem;
				color: $color__gray-blue;
				font-weight: 500;
			}
		}
	}
}

.section-newsletter {
	position: relative;
	padding: 5px 0 100px;
	margin: 20px 0;
	background-color: $color__gray-softer;
	padding: 30px 0;
	display: none;
	grid-template-columns: 100%;
	gap: 40px;

	&::before {

		@include pseudo;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: calc((50vw - 50%) * -1);
		width: 100vw;
		background-color: inherit;
	}

	.envelope-icon {

		position: relative;

		&::before {

			@include icon($icon-email, 48px, block);
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 48px;
			height: 48px;
			line-height: 48px;
			text-align: center;
			color: $color__primary;
		}
	}

	.left-col {
		position: relative;

		h2 {
			font-size: 40px;
			font-weight: 700;
			margin: 0;
		}
	}

	.newsletter-form {

		a {
			font-size: 16rem;
			font-weight: 600;
			color: $color__black;
		}

		label {
			font-size: 16rem;
			font-weight: 400;
		}
		#newsletter-email {
			width: 100%;
			border-radius: 6px;
			padding: 0 16px;
			line-height: 40px;
			font-size: 16px;
		}

		.privacy-input-group {
			margin: 24px 0;
			label {
				margin-right: 8px;
				font-size: 16px;
				color: $color__black;
			}
		}

		.btn {
			border-radius: 4px;
			padding: 0 24px;
			background-color: $color__primary;
			color: $color__white;
			cursor: pointer;

			&:hover {
				color: $color__primary;
				background-color: $color__white;
			}
		}

		.subscription-manage {
			text-align: center;
			margin: 4px 0;
		}
	}
}
}

@include desktop {

	.home {

		.the-archive {
			gap: 20px;
		}

		.all-button {
			padding: 40px 0;
		}
	}

	.hero-header {
		margin-bottom: 60px;

		.home-headline .post-title {
			font-size: 44rem;
		}

		.hero-content {
			min-height: 630px;
		}

		.home-featured {
			gap: 20px;
		}
	}

	.section-recent-web {
		padding-bottom: 60px;

		.post-thumbnail {
			@include aspect-ratio(360, 240);
		}
	}

	.section-recent-podcast {
		padding: 5px 0 50px;
		margin: 50px 0;

		.section-title a {
			position: static;
			margin-top: 12px;
			padding-left: 0.6em;
			font-size: 23rem;
		}

		.the-archive article {
			flex: 1 0;
		}
	}

	.section-recent-blog .the-archive {

		article {
			width: calc(50% - 10px);
			margin-bottom: 20px;

			&:first-child {
				float: left;
			}

			&:nth-child(n+2) {
				float: right;
				justify-content: space-around;
				min-height: 123px;
				padding-left: 200px;

				.post-thumbnail {
					width: 173px;
					height: 123px;
				}
			}
		}
	}
}

@media (min-width: 1024px) {

	.home {
		.section-recent-specials .the-archive--secondary {
			grid-template-columns: repeat(4, 1fr);
		}

		.section-title {
			h2 {
				font-size: 40rem;
			}
		}
		
		.home-latest {
			.latest-main-section {
				grid-template-columns: repeat(2, 1fr);
				margin-bottom: 100px;

				.right-col {
					display: flex;
					flex-direction: column;

					.elcano-card.horizontal {
						.post-info {
							padding: 0;
						}
					}
				}
			}

			.secondary-publications {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		.section-next-activities {
			grid-template-columns: 3fr 7fr;

			article {
				display: grid;
				grid-template-columns: 15% calc( 85% - 24px );
				gap: 24px;
				border: 1px solid $color__promary-border;
				transition: all 300ms ease-in-out;
				margin-bottom: 26px;

				.post-date {
					text-align: center;
					span {
						display: block;
						color: $color__gray-blue;
		
						&.weekday,
						&.time {
							font-family: 'Roboto', sans-serif;
							font-size: 19px;
							font-weight: 300;;
						}
					}
				}
		
				.post-info {

					.post-category {
						margin: 0;
						height: 25px;
					}
					.entry-title {
						margin: 0;
						a {
							font-size: 18rem;
							font-weight: 400;
							color: $color__gray-blue;
							text-decoration: none;
		
							&:hover {
								text-decoration: underline;
							}
						}
					}

					.activity-info {
						font-size: 16rem;
						line-height: 24px;
						svg {
							vertical-align: middle;
						}
						
					}
				}
			}
		}

		.section-recent-podcast {
			.section-title {

				align-items: center;
				flex-direction: row;
				h2 {
					font-size: 33rem;
				}
			}

			.the-archive {
				article {
					padding-left: 100px;
		
					&::before {
		
						@include icon($icon-audio, 28px, block);
						width: 74px;
						height: 74px;
						line-height: 74px;
					}
				}
			}
		}

		.section-newsletter {
			grid-template-columns: 5% 55% 40%;
			padding: 70px 0;

			.envelope-icon {
		
				&::before { 
					position: absolute;
				}
			}

			.left-col {
		
				h2 {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}

}
