.love {
	position: relative;
	display: inline-block;
	user-select: none;

	.love__check {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;

		&:checked + .love__label {
			color: #f04d64;
		}
	}

	.love__label {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 45px;
		border-radius: 50%;
		background-color: $color__white;
		color: $color__gray;
		text-align: center;
		vertical-align: middle;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		transition: all 200ms ease-in-out;

		&::before {

			@include icon($icon-heart);
		}

		&:hover {
			background-color: $color__gray-softer;
			color: #f04d64;
		}
	}

	.love__count {
		padding: 0 10px;
		font: normal 500 14rem/1 $font__main;
		color: #777;
		vertical-align: middle;
	}

	&.love--wait .love__label {
		cursor: default;

		&::before {
			animation: love_wait 800ms linear infinite;
		}
	}
}

@keyframes love_wait {

	to {
		transform: rotateY(360deg);
	}
}
