.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {

	@include clearfix;
	margin: 0 0 1.5em;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 12px;
	margin-bottom: 12px;
}

.posted-on {
	font-size: 14rem;
	font-weight: 500;
	color: $color__gray-soft;
	white-space: nowrap;
}

.post-category {
	max-width: 100%;
	margin-top: 32px;
	margin-bottom: 32px;
}

.post-group {
	margin: 32px 0;

	.post-category {
		display: inline-block;
		margin: 0 20px 8px 0;
		vertical-align: top;
	}
}

.page-subtitle {

	@extend .baseline;
	margin-top: -20px;
	font: normal 500 16rem/1.4 $font__main;
	text-transform: uppercase;
	color: $color__gray-soft;
}

.entry-content {

	.widget {
		max-width: 270px;
		margin-top: 1.5em;
	}
}

.entry-footer {
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	.post-tags,
	.post-share,
	.related-posts {
		margin-top: -1px;
		border: 1px solid $color__gray-softer;
		border-width: 1px 0;
	}

	.post-tags {
		padding: 40px 0 16px;
		border-top: none;
	}

	.post-share {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 34px 0 26px;

		.social-links {
			margin: 0;
			text-align: right;
		}
	}

	.related-posts {
		padding: 28px 0;

		> div {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 20px;
		}

		.post-related {
			margin: 0;
		}
	}
}

article.page .entry-content {

	> h2,
	> h3 {

		@extend .baseline;
	}
}

/* Single Monograph */
.single article.monograph .entry-header {
	margin-bottom: 60px;

	.posted-on {
		display: none;
	}
}

/* Single Template PDF */
.single article.template-pdf .entry-header {
	margin-bottom: 30px;
}

@include desktop {
	.entry-meta {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	.page-subtitle {
		font-size: 23rem;
	}
}
