.post-thumbnail {
	background-color: $color__primary-softer;
	overflow: hidden;
	@include fit;
}

.widthfull {
	width: 100vw;
	margin-left: calc((min(100vw) - 100%) / -2);
}

.single header .post-thumbnail {
	height: 243px;
	margin-bottom: 0px;
}

.thumbnail-caption {
	font: normal 700 14rem/1.286 "Roboto Condensed",sans-serif;
	text-align: left;
}