/* Post Related */
.post-related {
	display: block;
	margin-bottom: 30px;

	a {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: relative;
		min-height: 100px;
		padding-left: 124px;
		text-decoration: none;

		.post-thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			height: 100px;
			margin: 0;
		}

		.post-title {
			margin: 0;
			font: normal 400 18rem/1.333 $font__alt;
			color: $color__black;
		}

		.post-meta {
			margin: 0;
			font: normal 400 14rem/1.6 $font__main;
			color: $color__gray-soft;

			.fn {
				color: $color__gray;
				font-weight: 500;
				text-decoration: none;
			}
		}

		.post-intro {
			margin: 0;
			font: normal 400 16rem/1.6 $font__main;
			color: $color__gray-soft;
		}

		&:hover .post-title {
			text-decoration: underline;
		}
	}
}

.single .last-posts,
.most-read,
.more-about {

	.post-related {
		margin: 0;

		+ .post-related {
			border-top: 1px solid $color__red;
		}

		a {
			padding: 10px 0;
		}
	}
}
