.social-links {
	list-style: none;
	margin: 18px 0 0;
	padding: 0;
	font-size: 14rem;

	li {
		display: inline-block;
		margin: 0 8px 8px 0;
	}

	a {
		text-decoration: none;

		span {
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 45px;
			border-radius: 50%;
			background-color: $color__white;
			color: $color__gray;
			text-align: center;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
			transition: background-color 200ms ease-in-out;

			&.icon-facebook {
				color: #3b5998;
			}

			&.icon-twitter {
				color: #00acee;
			}

			&.icon-linkedin {
				color: #0e76a8;
			}

			&.icon-youtube {
				color: #c4302b;
			}

			&.icon-instagram {
				color: #ff0076;
			}

			&.icon-link {
				color: $color__primary;
			}

			&.icon-heart {
				color: $color__gradient-end;
			}
		}

		&:hover span {
			background-color: $color__gray-softer;
		}

		&.social--anim span::before {
			animation: elcanoCopy 400ms ease-out forwards;
		}
	}
}
