/**
 * LuckyWP TOC (custom Elcano aside TOC)
 */
aside .lwptoc,
.aside .lwptoc {

	.lwptoc_i {
		width: 100%;
		padding: 0;
		background-color: $color__gray-softer;
	}

	.lwptoc_header {
		position: relative;
		margin: 0;
		padding: 0 14px;
		font: normal 700 14rem/40px $font__alt;
		text-transform: uppercase;

		&::after {

			@include icon($icon-down, 16rem, block);
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -0.5em;
			color: $color__red;
			transition: transform 200ms ease-out;
		}
	}

	.lwptoc_toggle {
		display: none;
	}

	.lwptoc_items {
		max-height: 0;
		font: normal 400 14rem/24px $font__main;
		transition: max-height 600ms ease-in-out;
		overflow: hidden;

		.lwptoc_item {
			margin: 0 !important;
			padding: 0 !important;
		}

		a {
			display: block;
			padding: 10px 14px;
			color: $color__gray;
			text-decoration: none;
		}

		&.lwptoc_items-visible {
			max-height: 2000px;
		}
	}

	.lwptoc_item.active a {
		color: $color__primary;
		font-weight: 700;
	}
}

@include desktop {

	aside .lwptoc,
	.aside .lwptoc {
		position: sticky;
		top: 130px;
		margin: 0 0 1.5em !important;

		.lwptoc_i {
			background-color: inherit;
		}

		.lwptoc_header {
			padding: 0 0 14px;

			&::after {
				content: none;
			}
		}

		.lwptoc_items {
			display: block !important;
			max-height: none;

			a {
				display: inline-block;
				padding: 0;
				margin: 4px 0;
				color: $color__black;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
