.years-select {
	display: inline-block;
	position: relative;
	user-select: none;

	.current-year {
		margin-left: 10px;
		cursor: pointer;

		&::after {

			@include icon($icon-down, 12px);
			margin-left: 8px;
			transition: transform 200ms ease-out;
		}
	}

	.wrapper {
		display: none;
		position: absolute;
		z-index: 5;
		top: 100%;
		right: 0;
		min-width: 100%;
		overflow: hidden;
	}

	ul {

		@include reset-list;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: repeat(6, 1fr);
		background-color: $color__white;
		font-weight: 400;
		line-height: 2;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
		transform: translateY(-100%);
		animation: elcanoSlideDown 200ms ease-in-out forwards;

		li {
			padding: 0 10px;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&.years-select--show {

		.current-year::after {
			transform: rotateZ(180deg);
		}

		.wrapper {
			display: block;
		}
	}
}

@include desktop {

	.years-select {

		.wrapper {
			left: 0;
			right: auto;
		}

		ul {
			line-height: 1.75;
		}
	}
}
