/* Fontfaces
--------------------------------------------- */

/* roboto-regular - latin-ext_latin */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-v27-latin-ext_latin-regular.woff2) format("woff2"),
		url(./fonts/roboto-v27-latin-ext_latin-regular.woff) format("woff");
}

/* roboto-italic - latin-ext_latin */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-v27-latin-ext_latin-italic.woff2) format("woff2"),
		url(./fonts/roboto-v27-latin-ext_latin-italic.woff) format("woff");
}

/* roboto-500 - latin-ext_latin */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-v27-latin-ext_latin-500.woff2) format("woff2"),
		url(./fonts/roboto-v27-latin-ext_latin-500.woff) format("woff");
}

/* roboto-500italic - latin-ext_latin */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-v27-latin-ext_latin-500italic.woff2) format("woff2"),
		url(./fonts/roboto-v27-latin-ext_latin-500italic.woff) format("woff");
}

/* roboto-700 - latin-ext_latin */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-v27-latin-ext_latin-700.woff2) format("woff2"),
		url(./fonts/roboto-v27-latin-ext_latin-700.woff) format("woff");
}

/* roboto-700italic - latin-ext_latin */
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-v27-latin-ext_latin-700italic.woff2) format("woff2"),
		url(./fonts/roboto-v27-latin-ext_latin-700italic.woff) format("woff");
}

/* roboto-condensed-regular - latin-ext_latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-regular.woff2) format("woff2"),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-regular.woff) format("woff");
}

/* roboto-condensed-italic - latin-ext_latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-italic.woff2) format("woff2"),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-italic.woff) format("woff");
}

/* roboto-condensed-500 - latin-ext_latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-500.woff2) format("woff2"),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-500.woff) format("woff");
}

/* roboto-condensed-500italic - latin-ext_latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-500italic.woff2) format("woff2"),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-500italic.woff) format("woff");
}

/* roboto-condensed-700 - latin-ext_latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-700.woff2) format("woff2"),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-700.woff) format("woff");
}

/* roboto-condensed-700italic - latin-ext_latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-700italic.woff2) format("woff2"),
		url(./fonts/roboto-condensed-v19-latin-ext_latin-700italic.woff) format("woff");
}

/* Icon font generated by Glyphter (http://www.glyphter.com) */
@font-face {
	font-family: "Elcano Icons";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src:
		local(""),
		url(./fonts/Elcano-Icons.woff2) format("woff2"),
		url(./fonts/Elcano-Icons.woff) format("woff");
}
