h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	clear: both;

	.has-text-color & {
		color: inherit;
	}
}

h1,
.h1,
.h1-alt {
	margin-top: 30px;
	margin-bottom: 30px;
	color: $color__black;
	font: normal 700 24rem/1.166 $font__alt;
}

h1.alt,
.h1-alt {
	color: $color__gray;
	text-transform: uppercase;
}

h2,
.h2 {
	color: $color__black;
	font: normal 400 26rem/1.154 $font__alt;
}

h2.alt,
.h2-alt {
	color: $color__gray-soft;
	font: normal 500 16rem/1.5 $font__main;
	text-transform: uppercase;
}

h3,
.h3 {
	color: $color__black;
	font: normal 400 16rem/1.25 $font__alt;
	text-transform: none;
}

h4,
.h4 {
	color: $color__gray;
	font: normal 400 14rem/1.375 $font__alt;
	text-transform: uppercase;
}

.baseline {
	overflow: hidden;

	&::after {
		content: "";
		display: inline-block;
		width: 100%;
		margin-right: -100%;
		margin-left: 12px;
		border-top: 1px solid $color__red;
	}
}

@include desktop {

	h1,
	h1.alt,
	.h1,
	.h1-alt {
		font-size: 40rem;
	}

	h2,
	.h2 {
		font-size: 28rem;
		line-height: 1.286;
	}

	h2.alt,
	.h2-alt {
		font-size: 23rem;
		line-height: 1.217;
	}

	h3,
	.h3 {
		font-size: 18rem;
		line-height: 1.333;
	}

	h4,
	.h4 {
		font-size: 16rem;
	}
}
