/* Icons
--------------------------------------------- */

[class*="icon-"]::before {
	display: inline-block;
	font-family: $font__icons !important;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	// Better font rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-down::before {
	content: $icon-down;
}

.icon-left::before {
	content: $icon-left;
}

.icon-right::before {
	content: $icon-right;
}

.icon-up::before {
	content: $icon-up;
}

.icon-mailbox::before {
	content: $icon-mailbox;
}

.icon-cal::before {
	content: $icon-cal;
}

.icon-cal-alt::before {
	content: $icon-cal-alt;
}

.icon-play::before {
	content: $icon-play;
}

.icon-audio::before {
	content: $icon-audio;
}

.icon-link::before {
	content: $icon-link;
}

.icon-heart::before {
	content: $icon-heart;
}

.icon-paste::before {
	content: $icon-paste;
}

.icon-mark::before {
	content: $icon-mark;
}

.icon-pages::before {
	content: $icon-pages;
}

.icon-quotes::before {
	content: $icon-quotes;
}

.icon-email::before {
	content: $icon-email;
}

.icon-eye::before {
	content: $icon-eye;
}

.icon-download::before {
	content: $icon-download;
}

.icon-arrow::before {
	content: $icon-arrow;
}

.icon-facebook::before {
	content: $icon-facebook;
}

.icon-instagram::before {
	content: $icon-instagram;
}

.icon-twitter::before {
	content: $icon-twitter;
}

.icon-rss::before {
	content: $icon-rss;
}

.icon-youtube::before {
	content: $icon-youtube;
}

.icon-linkedin::before {
	content: $icon-linkedin;
}

.icon-page::before {
	content: $icon-page;
}
