@import "fonts";

/* 6.25% of 16px base font size is 1px => 1rem = 1px */
html {
	font-size: 6.25%;
}

body,
button {
	color: $color__text;
	font-family: $font__main;
	font-size: 16rem;
	line-height: 1.875;

	@include desktop {
		font-size: 18rem;
		line-height: 1.778;
	}
}

input,
select,
optgroup,
textarea {
	color: $color__text;
	font-family: $font__form;
	font-size: $font__size-form;
	line-height: $font__line-height-body;
	font-weight: 700;

	&::placeholder {
		font-weight: 400;
	}
}

@import "headings";
@import "copy";
@import "icons";
