// Import variables and mixins.
@import "abstracts/abstracts";

@import "base/typography/fonts";
@import "utilities/colors";

/* Don't change font for ACF controls */
.acf-block-component .acf-block-fields {
  font-size: 13px;
}

/* Main column width */
.wp-block {
  max-width: 857px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 997px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: $size__content-width;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  clear: both;

  .has-text-color & {
    color: inherit;
  }
}

h1,
.h1,
.h1-alt {
  margin-top: 30px;
  margin-bottom: 30px;
  color: $color__black;
  font: normal 700 40px/1.166 $font__alt;
}

h1.alt,
.h1-alt {
  color: $color__gray;
  text-transform: uppercase;
}

h2,
.h2 {
  color: $color__black;
  font: normal 400 28px/1.154 $font__alt;
}

h2.alt,
.h2-alt {
  color: $color__gray-soft;
  font: normal 500 32px/1.5 $font__main;
  text-transform: uppercase;
}

h3,
.h3 {
  color: $color__black;
  font: normal 400 18px/1.25 $font__alt;
  text-transform: none;
}

h4,
.h4 {
  color: $color__gray;
  font: normal 400 16px/1.375 $font__alt;
  text-transform: uppercase;
}

p[role],
ul[role],
ol[role] {
  font-family: $font__main;
  font-size: 18px;
  line-height: 1.778;
}

p > a,
li > a {
  color: $color__link;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
}

.wp-block-quote {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0 0 0 2.5em;
  border: none;
  font: normal 500 22px/1.272 $font__main;
  color: $color__gray;

  &::before {

    @include icon('"', 80px, block);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.5em;
    color: $color__primary;
  }
}

.wp-block-button {

  .wp-block-button__link {
    display: inline-flex;
    align-items: center;
    min-height: 50px;
    padding: 0 1.5em;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    font: normal 500 16px/1.2 $font__main;
    text-decoration: none;
    transition: all 200ms ease-out;

    &:not([class*="has-"]) {
      background: $color__white;
      color: $color__primary;
      border-color: currentColor;

      &:hover,
      &:active,
      &:focus {
        background: $color__primary;
        color: $color__white;
        border-color: $color__primary;
      }
    }
  }

  &:not([class*="is-style-"]) .has-white-color {
    border-width: 0;
  }

  &.is-style-fill {
    .wp-block-button__link:not([class*="has-"]) {
      background: $color__primary;
      color: $color__white;
      border-color: $color__primary;

      &:hover,
      &:active,
      &:focus {
        background: $color__link-hover;
        color: $color__white;
        border-color: $color__link-hover;
      }
    }

    .has-background {
      border-width: 0;
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      border-color: currentColor;
    }

    .has-white-color {
      border-width: 0;
    }
  }
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 0 1.5em;
  margin-bottom: 12px;
  border: 2px solid $color__border-button;
  border-radius: 6px;
  background: $color__background-button;
  color: $color__text-button;
  font: normal 500 16px/50px $font__main;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-out;

  &.btn--fullwidth {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:active,
  &:focus {
    background: $color__background-button-hover;
    color: $color__text-button-hover;
    border-color: $color__border-button-hover;
  }

  &.btn--disabled {
    background-color: $color__white !important;
    color: $color__primary-soft !important;
    cursor: default;
  }
}

@import "components/blocks/columns";
