
// Default Theme Styles
@import "style.scss";

/*
 * IE 11 fixes
 */

// Container
.fullwidth {
	margin-left: calc((100vw - 100%) / -2);

	@include wider {
		margin-left: calc((#{$size__site-width} - 100%) / -2);
	}
}

// Archive (up to 18 items)
.the-archive--grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(9, auto);
	gap: 40px 20px;

	@include desktop {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, auto);
		gap: 80px 20px;
	}
}

.the-archive article .post-group {
	.post-category,
	.post-type {
		vertical-align: middle;
	}
}

// Menus
.secondary-menu .sub-menu-wrap ul {
	background-size: calc(100vw - 20px) 200%, 100%;

	@include wider {
		background-size: $size__site-width 200%, 100%;
	}
}

// Pogress header (disabled)
.progress-header {
	display: none !important;
}

// Years Select
.years-select ul {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	width: 220px;
}

// Entry footer
.authors .author__bio {
	width: 100%;
}

.entry-footer .related-posts > div {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;

	@include desktop {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
	}
}

// Home & 404
.home-header .home-headline,
.error404-header .page-title {
	max-width: 760px;
}

.section-next-activities .the-archive,
.section-recent-specials .the-archive--main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	gap: 8px;

	@include desktop {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
	}
}

.section-recent-web .the-archive {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 8px;

	@include desktop {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
	}
}

.section-recent-podcast .the-archive {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 8px;

	@include desktop {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
	}
}

.home-header .the-archive,
.section-recent-videos .the-archive,
.section-recent-specials .the-archive--secondary {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 8px;

	@include desktop {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
	}
}

.error404-header .categories-title {
	margin-bottom: 0;
}

.error404-header .categories .cat-wrap {
	padding: 0 30px;
}

// Search
.filters-list .filter-name.filter-name--open ul {
	max-height: 400px;

	@include desktop {
		max-height: 510px;
	}
}

// Activity
.program .participants {
	display: block;
	overflow-y: auto;
	margin-right: -20px;

	> div {
		float: left;
		width: calc(50% - 20px);
		margin-right: 20px;

		&:nth-child(2n+1) {
			clear: left;
		}
	}
}

// Special
.annual-summaries .post-slide {
	display: block;

	.tns-item {
		display: inline-block !important;
	}

	@include desktop {
		.post-related {
			float: left;
			width: calc(50% - 20px);
		}
	}
}

// Grids with auto rows fallback (unkown number of rows)
.biographies-list,
.block-members,
.block-logo-grid {
	display: block;
	overflow-y: auto;
	margin-right: -20px;

	> div {
		float: left;
		width: calc(50% - 20px);
		min-width: 0;
		margin-right: 20px;

		&:nth-child(2n+1) {
			clear: left;
		}

		@media (min-width: 560px) {
			width: calc(33.33333% - 20px);

			&:nth-child(2n+1) {
				clear: none;
			}

			&:nth-child(3n+1) {
				clear: left;
			}
		}

		@include desktop {
			width: calc(25% - 20px);

			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(4n+1) {
				clear: left;
			}
		}
	}
}