/* Single Activity Header */
article.activity .entry-header, article.brussels_activity .entry-header {
	margin-bottom: 40px;

	.header-overlay::after {
		content: $icon-cal;
		transform: translateX(60%);
	}

	.activity-date {
		order: 0;
		margin: -70px auto 0;
		transform: translateX(-70%);
		font: normal 700 16rem/1.2 $font__alt;
		text-align: right;
		text-transform: uppercase;

		span {
			display: block;
		}

		.day {
			font-size: 36rem;
			line-height: 1;
		}
	}

	.post-category {
		display: none;
	}
}

/* Program */
.activity-program {
	display: flex;
	flex-direction: column;
}

.program {
	padding: 30px 43px;
	margin-bottom: 40px;
	background-color: $color__gray-softer;

	h3 {
		color: $color__red;
	}

	.info {
		font: normal 400 14rem/1.286 $font__main;
	}

	.participants {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		font: normal 400 14rem/1.286 $font__alt;
		letter-spacing: 0.05em;
		text-transform: uppercase;

		.name {
			font-weight: 700;
			color: $color__black;
		}

		.role {
			color: $color__black;
		}

		.position {
			display: block;
		}
	}
}

/* More activities */
.more-activities {
	border-top: 1px solid $color__gray-softer;
	padding: 40px 0;
	margin: 40px 0;
	text-align: center;
}

@include desktop {

	article.activity .entry-header, article.brussels_activity .entry-header {
		margin-bottom: 60px;

		.activity-date {
			margin: -96px 0 36px;
			font-size: 20rem;

			.day {
				font-size: 48rem;
			}
		}
	}

	.activity-program{
		flex-direction: row;

		.program + .program-pdf {
			margin-left: 125px;
		}
	}
}
