/* Single Biography */
.single article.biography {

	.entry-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;

		.fn {
			margin-bottom: 10px;
			color: $color__gray;
		}

		.author-photo {
			order: -1;
		}

		.title {
			font: normal 400 22rem/30px $font__alt;
			color: $color__gray-soft;
		}

		.info {
			display: flex;
			flex-direction: column;
			align-items: center;
			font: normal 700 14rem/1.286 $font__alt;
			margin-top: 30px;
			color: $color__gray-soft;

			.articles {
				padding: 20px;
				color: $color__black;

				+ .links {
					padding-top: 20px;
					border-top: 1px solid $color__red;
				}
			}

			.social-links {
				display: inline-block;
				margin: 0 0 0 10px;

				a {
					margin-bottom: 0;
				}
			}
		}
	}

	.entry-content {

		h2,
		h3 {

			@extend .baseline;
		}
	}

	.all-articles {
		margin: 60px 0 40px;
		text-align: center;
	}
}

@include desktop {
  .single article.biography .entry-header {
    .title {
      font-size: 28rem;
      line-height: 36px;
    }

    .info {
      flex-direction: row;
      margin-top: 50px;

      .articles + .links {
        padding: 0 0 0 20px;
        border-left: 1px solid $color__red;
        border-top: none;
      }
    }
  }
}
