/* Single Job */
article.job {

	.entry-content {

		.job-summary {
			color: $color__black;
		}

		.job-reference {
			font-family: $font__alt;
		}

		.job-pdf::before {

			@include icon($icon-download);
			margin-right: 0.5em;
		}

		h2,
		h3 {

			@extend .baseline;
		}
	}
}

/* More jobs */
.more-jobs {
	margin: 40px 0;
	text-align: center;
}
