.hero-nato-public{
  position: relative;
  margin-bottom: 82px;
  @media (max-width: 768px) {
    margin-bottom: 48px;
  }
  &:before{
    background-image: url('../elcano/images/nato-landing-bg.png');
    content: "";
    height: 100%;
    left: calc((50vw - 50%)*-1);
    position: absolute;
    width: 100vw;
    background-position: center;
    z-index: -1;
    filter: brightness(0.5);
    background-size: cover;
  }
  &__container{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 164px;
    padding-bottom: 114px;
    @media (max-width: 768px) {
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 128px;
      padding-bottom: 114px;
    }
  }
  &__top{
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
    }
  }
  &__name{
    max-width: 564px;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
  &__brands{
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  &__logo{
    display: flex;
    gap: 25px;
    @media (max-width: 768px) {
      justify-content: center;
      gap: 8px;
    }
  }
  &__img img{
    display: block;
    width: 148px;
    height: auto;
    @media (max-width: 768px) {
      max-width: 72px;
      height: auto;
    }
  }
  &__event{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__event-top{
    color: #F0F0F0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 116px;
    line-height: 93px;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 53px;
      line-height:33px;
    }
  }
  &__nav{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 21px;
    margin-left: calc((50vw - 50%)*-1);
    background: linear-gradient(180deg, #F04D64 0%, #9D3341 100%);
    width: 100vw;
    a{
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
      background: linear-gradient(270deg, #F04D64 16.81%, #9D3341 83.19%);
      div{
        padding: 16px 0;
      }
      div:nth-child(1), div:nth-child(2){
        border-bottom: 1px solid white;
        width: 100%;
        text-align: center;
      }
    }

  }
  &__broadcast, &__event-agenda,&__calendar,&__download {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 700;
  }
&__broadcast:before{
  content: "";
  height: 24px;
  width: 24px;
  left: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cmask%20id%3D%22mask0_221_1256%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%221%22%20y%3D%222%22%20width%3D%2222%22%20height%3D%2220%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21%205.9001H13.41L16.35%202.9601C16.55%202.7601%2016.55%202.4501%2016.35%202.2501C16.15%202.0501%2015.84%202.0501%2015.64%202.2501L12%205.8901L8.36%202.2501C8.16%202.0501%207.85%202.0501%207.65%202.2501C7.45%202.4501%207.45%202.7601%207.65%202.9601L10.59%205.9001H3C1.9%205.9001%201%206.7901%201%207.9001V19.9001C1%2021.0001%201.9%2021.9001%203%2021.9001H21C22.1%2021.9001%2023%2021.0001%2023%2019.9001V7.9001C23%206.7901%2022.1%205.9001%2021%205.9001ZM10.5%2017.0501L14.48%2014.7701C15.15%2014.3901%2015.15%2013.4201%2014.48%2013.0301L10.5%2010.7501C9.83%2010.3701%209%2010.8601%209%2011.6201V16.1701C9%2016.9401%209.83%2017.4301%2010.5%2017.0501ZM4%2019.9001H20C20.55%2019.9001%2021%2019.4501%2021%2018.9001V8.9001C21%208.3501%2020.55%207.9001%2020%207.9001H4C3.45%207.9001%203%208.3501%203%208.9001V18.9001C3%2019.4501%203.45%2019.9001%204%2019.9001Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url%28%23mask0_221_1256%29%22%3E%0A%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
  &__event-agenda{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      left: 0;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cmask%20id%3D%22mask0_235_1266%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%223%22%20y%3D%221%22%20width%3D%2218%22%20height%3D%2222%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M19%203H14.82C14.4%201.84%2013.3%201%2012%201C10.7%201%209.6%201.84%209.18%203H5C3.9%203%203%203.9%203%205V21C3%2022.1%203.9%2023%205%2023H19C20.1%2023%2021%2022.1%2021%2021V5C21%203.9%2020.1%203%2019%203ZM12%203C12.55%203%2013%203.45%2013%204C13%204.55%2012.55%205%2012%205C11.45%205%2011%204.55%2011%204C11%203.45%2011.45%203%2012%203ZM5%2020C5%2020.55%205.45%2021%206%2021H18C18.55%2021%2019%2020.55%2019%2020V6C19%205.45%2018.55%205%2018%205H17V6C17%207.1%2016.1%208%2015%208H9C7.9%208%207%207.1%207%206V5H6C5.45%205%205%205.45%205%206V20Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url%28%23mask0_235_1266%29%22%3E%0A%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
    }
  }
  &__calendar{
    &:before{
      content: "";
      height: 24px;
      width: 24px;
      left: 0;
      top: 50%;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cmask%20id%3D%22mask0_235_1275%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%222%22%20y%3D%221%22%20width%3D%2220%22%20height%3D%2222%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M19%203H20C21.1%203%2022%203.9%2022%205V21C22%2022.1%2021.1%2023%2020%2023H4C2.9%2023%202%2022.1%202%2021V5C2%203.9%202.9%203%204%203H5V2C5%201.45%205.45%201%206%201C6.55%201%207%201.45%207%202V3H17V2C17%201.45%2017.45%201%2018%201C18.55%201%2019%201.45%2019%202V3ZM5%2021H19C19.55%2021%2020%2020.55%2020%2020V8H4V20C4%2020.55%204.45%2021%205%2021Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url%28%23mask0_235_1275%29%22%3E%0A%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
      transform: translateY(-50%);
    }
  }
  &__download {
    &:before {
      content: "";
      height: 24px;
      width: 24px;
      left: 0;
      top: 50%;
      position: absolute;
      background-image: url("data:image/svg+xml, %3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cmask%20id%3D%22mask0_296_3738%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%225%22%20y%3D%223%22%20width%3D%2215%22%20height%3D%2218%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.5%209.5H17.09C17.98%209.5%2018.42%2010.58%2017.79%2011.21L13.2%2015.8C12.81%2016.19%2012.18%2016.19%2011.79%2015.8L7.2%2011.21C6.57%2010.58%207.02%209.5%207.91%209.5H9.5V4.5C9.5%203.95%209.95%203.5%2010.5%203.5H14.5C15.05%203.5%2015.5%203.95%2015.5%204.5V9.5ZM6.5%2020.5C5.95%2020.5%205.5%2020.05%205.5%2019.5C5.5%2018.95%205.95%2018.5%206.5%2018.5H18.5C19.05%2018.5%2019.5%2018.95%2019.5%2019.5C19.5%2020.05%2019.05%2020.5%2018.5%2020.5H6.5Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url%28%23mask0_296_3738%29%22%3E%0A%3Crect%20x%3D%220.5%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
      transform: translateY(-50%);
    }
  }
&__event-bottom{
    text-transform: capitalize;
    color: #F0F0F0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 44px;
    @media (max-width: 768px) {
      font-size: 24px;
      line-height:33px;
    }
  }
  &__bottom{
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 80px;
    }
  }
  &__description-wrapper{
    max-width: 544px;
    display: flex;
    flex-direction: column;

    p{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      /* or 140% */
      /* Grey Soft */
      color: #F0F0F0;
      text-align: justify;
      margin-top: 52px;
      @media (max-width: 768px) {
        font-size: 18px;
        text-align: center;
      }
    }
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
  &__other-country a{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    align-items: flex-start;
    color: white;
    text-decoration: none;
    padding: 2px 8px;
    letter-spacing:  0.05em;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  &__other-country{
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__date{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 0.015em;

    /* Grey Soft */

    color: #F0F0F0;
    /* identical to box height */

    letter-spacing: 0.005em;

    /* Grey Soft */

    color: #F0F0F0;
    margin-top: 21px;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height:20px;
      text-align: center;
    }
  }

  &__register{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5em;

    a{
      &:before{
        content: "";
        height: 24px;
        width: 24px;
        left: 21px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml, %3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cmask%20id%3D%22mask0_215_3276%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%223%22%20y%3D%223%22%20width%3D%2218%22%20height%3D%2218%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5%2018C5%2018.55%205.45%2019%206%2019H18C18.55%2019%2019%2018.55%2019%2018V13C19%2012.45%2019.45%2012%2020%2012C20.55%2012%2021%2012.45%2021%2013V19C21%2020.1%2020.1%2021%2019%2021H5C3.9%2021%203%2020.1%203%2019V5C3%203.9%203.89%203%205%203H11C11.55%203%2012%203.45%2012%204C12%204.55%2011.55%205%2011%205H6C5.45%205%205%205.45%205%206V18ZM15%205C14.45%205%2014%204.55%2014%204C14%203.45%2014.45%203%2015%203H21V9C21%209.55%2020.55%2010%2020%2010C19.45%2010%2019%209.55%2019%209V6.41L9.87%2015.54C9.48%2015.93%208.85%2015.93%208.46%2015.54C8.07%2015.15%208.07%2014.52%208.46%2014.13L17.59%205H15Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url%28%23mask0_215_3276%29%22%3E%0A%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
      }

      border: 2px solid #FFFFFF;
      border-radius: 6px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      padding: 16px 21px 16px 54px;
      color: white;
      text-align: center;
      text-decoration: none;
      position: relative;
      @media (max-width: 768px) {
        font-size: 16px;
        padding: 12px 21px 12px 54px;
      }
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__languages {
    text-align: end;
    padding-top: 10px;
    ul li:not(.current) a {
        color: white;
      }
    }
}
#page .landing-nato article {
  .oculto{
    display: none !important;
  }
}
.landing-nato{
  .widget.share:nth-child(2){
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
  .columns{
    @media (min-width: 1100px) {
      background-image: url("../elcano/images/watermark-elcano.svg");
      background-repeat: no-repeat;
      background-position-x: 100%;
    }
  }
  .register{
    @media (max-width: 768px) {
     display: none;
    }
    &__text{
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height, or 129% */
      display: flex;
      color: #545D69;
      letter-spacing: 0.03em;
    }
    &__button{
      display: flex;
      margin-top: 16px;
     a {
       border-radius: 6px;
       border: 2px solid #BB2521;
       color: #BB2521;
       text-decoration: none;
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 19px;
       padding: 16.5px 21px 16.5px 51px;
       position: relative;

       &:before {
         content: "";
         height: 20px;
         width: 20px;
         top: 50%;
         left: 21px;
         position: absolute;
         transform: translateY(-50%);
         background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cmask%20id%3D%22mask0_254_711%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%222%22%20y%3D%222%22%20width%3D%2216%22%20height%3D%2216%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.16667%2015C4.16667%2015.4583%204.54167%2015.8333%205%2015.8333H15C15.4583%2015.8333%2015.8333%2015.4583%2015.8333%2015V10.8333C15.8333%2010.375%2016.2083%2010%2016.6667%2010C17.125%2010%2017.5%2010.375%2017.5%2010.8333V15.8333C17.5%2016.75%2016.75%2017.5%2015.8333%2017.5H4.16667C3.25%2017.5%202.5%2016.75%202.5%2015.8333V4.16667C2.5%203.25%203.24167%202.5%204.16667%202.5H9.16667C9.625%202.5%2010%202.875%2010%203.33333C10%203.79167%209.625%204.16667%209.16667%204.16667H5C4.54167%204.16667%204.16667%204.54167%204.16667%205V15ZM12.5%204.16667C12.0417%204.16667%2011.6667%203.79167%2011.6667%203.33333C11.6667%202.875%2012.0417%202.5%2012.5%202.5H17.5V7.5C17.5%207.95833%2017.125%208.33333%2016.6667%208.33333C16.2083%208.33333%2015.8333%207.95833%2015.8333%207.5V5.34167L8.225%2012.95C7.9%2013.275%207.375%2013.275%207.05%2012.95C6.725%2012.625%206.725%2012.1%207.05%2011.775L14.6583%204.16667H12.5Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url%28%23mask0_254_711%29%22%3E%0A%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%23BB2521%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
       }
     }
    }
  }
}
