/* Template Long Post (Policy Paper & Work Document) */
.single article.long_post {

	.entry-header {
		display: flex;
		flex-direction: column;

		.post-thumbnail,
		.post-group {
			order: -1;
			margin-bottom: 0;
		}

		.entry-title {
			margin-bottom: 16px;
		}
	}

	.aside--header {
		display: none;
	}

	.entry-content h2,
	.entry-content h3 {
		color: $color__red;
	}

	.most-read {
		display: flex;
		flex-direction: column;
		height: 476px;
		justify-content: center;
		margin-bottom: 96px;
	}
}

@include desktop {
	.single article.long_post {

		header .post-thumbnail {
			height: 486px;
		}

		.aside--header {
			display: block;
		}

		.aside--content {
			margin-top: -200px;
		}
	}
}