/* More activities */
.more-projects {
  border-top: 1px solid $color__gray-softer;
  padding: 40px 0;
  margin: 40px 0;
  text-align: center;
}

@include desktop {

  article.project .entry-header {
    margin-bottom: 60px;
  }
}
