/* Web Special (alternative header) */
.single .special-header-alt {
	margin-bottom: 30px;

	.post-info {
		padding: 0 10px 30px;
		border-top: 1px solid $color__background-hr;
	}

	.post-thumbnail {
		margin: 0;
	}
}

@include desktop {
	.single .special-header-alt {
		position: relative;

		&::before {
			@include pseudo;
			top: 0;
			bottom: 0;
			left: calc((50vw - 50%) * -1);
			width: 100vw;
			border: 1px solid $color__background-hr;
			border-width: 1px 0;
		}

		.post-info {
			position: relative;
			z-index: 2;
			min-height: 570px;
			padding: 0;
			border: none;

			.post-inner {
				padding: 20px 55% 20px 10px;
			}
		}

		.post-thumbnail {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50%;
			height: auto;
			margin: 0;
		}
	}
}

/*
old-specials
 */
.old-special.special {
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-color: #000;
		}
	}
}
