/* Single Video */
.single article.video {

	header {
		margin-bottom: 40px;
	}

	.header-overlay {
		width: 100vw;
		margin-left: calc((100vw - 100%) / -2);
		cursor: pointer;

		&::after {
			content: $icon-play;
		}

		&:hover::after {
			transform: scale3d(1.2, 1.2, 1.2);
		}
	}

	aside + aside {
		display: none;
	}
}

@include desktop {
	.single article.video {
		.header-overlay {
			width: 100%;
			margin-left: 0;
		}

		aside + aside {
			display: initial;
		}
	}
}