.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {

		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
		font: normal 700 14rem/1.286 $font__alt;
	}
}

.wp-caption-text {
	text-align: left;
}
