/* Next / Past activities */
.activities-select {
	display: flex;
	justify-content: center;
	margin: 30px 0;
	font: normal 400 14rem/32px $font__alt;

	.next-activities,
	.past-activities {
		line-height: 60px;
		color: $color__gray-soft;
		text-decoration: none;
		text-underline-offset: 6px;

		&.current,
		&:hover {
			color: $color__primary;
			text-decoration: underline solid 2px;
		}

		&.current {
			font-weight: 700;
		}

	}

	.next-activities {
		padding-right: 12px;
		margin-right: 12px;
		border-right: 1px solid $color__gray-softer;
	}
}

/* Activities Archive */
.the-archive--activity article {
	padding: 30px 0;

	&:nth-child(n+2) {
		border-top: 1px solid $color__primary;
	}

	.post-inner {
		display: flex;
		flex-direction: column;
	}

	.post-thumbnail {
		align-self: center;
		position: relative;
		width: 224px;
		height: auto;
		margin: 0 0 24px 0;
		color: $color__white;
		font: normal 700 40rem/1.1 $font__alt;
		text-transform: uppercase;

		&::before {
			position: relative;
			z-index: 2;
			width: 100%;
			padding-top: 100%;
			background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0));
		}

		&::after {
			content: attr(data-date);
			display: block;
			position: absolute;
			z-index: 3;
			bottom: 0.5em;
			left: 0.55em;
			width: 2em;
		}

		img {
			transition: filter 200ms ease-out;
		}
	}

	.entry-title {
		margin-top: 0;
	}

	p {
		margin: 1em 0 0;
	}

	.activity-participants {
		display: none;
	}
}

.the-archive--search .activity {

	.post-thumbnail {
		position: relative;

		&::before {

			position: relative;
			z-index: 2;
			width: 100%;
			background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0));
		}

		&::after {
			content: attr(data-date);
			display: block;
			position: absolute;
			z-index: 3;
			bottom: 20px;
			left: 24px;
			width: 80px;
			color: $color__white;
			font: normal 700 40rem/1.1 $font__alt;
			text-transform: uppercase;
		}
	}
}

@include desktop {

	.activities-select {
		font-size: 18rem;

		.next-activities {
			padding-right: 36px;
			margin-right: 36px;
		}
	}

	.the-archive--activity article {
		padding: 50px 0;

		.post-inner {
			flex-direction: row;
			max-width: 956px;
			margin: 0 auto;
		}

		.post-thumbnail {
			flex-shrink: 0;
			align-self: start;
			width: 270px;
			@include aspect-ratio(270, 288);
			margin: 0 24px 0 0;
		}
	}
}

.block-activities .the-archive--activity article {

	.post-thumbnail {
		width: 180px;
		font-size: 26.666rem;
	}

	.entry-title {
		font: normal 400 18/1.333 $font__alt;
		color: $color__black;
	}

	@include desktop {

		.post-thumbnail {
			margin-right: 74px;
		}

		.post-info {
			align-self: center;
		}
	}
}
