/* Archive Archive */
.the-archive--archive {
	display: block;

	article {
		display: block;
		max-width: none;
		padding: 30px 0;
		margin: 0;
		font: normal 400 18rem/1.333 $font__alt;

		&:nth-child(n+2) {
			border-top: 1px solid $color__gray-softer;
		}

		.entry-title {
			margin: 0;
		}

		.entry-summary {
			margin: 0 0 30px;

			p {
				margin: 0;
			}
		}
	}
}
