article.elcano-card {
	font-family: "Roboto";
	border: 1px solid $color__gray-softer;

	.post-thumbnail {
		background-color: transparent;
		img {
			position: relative;
			height: 165px;
		}
	}
	.post-info {
		padding: 16rem;

		.podcast-duration {
			margin-top: 8px;
			color: #BB2521;
			font-size: 14px;
			.icon-podcast svg {
				margin-bottom: -3px;
			}
		}
	
		.post-category {
			display: flex;
			flex-direction: row;
			gap: 8px;
			align-items: center;
			margin: 0 0 16px;
			width: fit-content;

			a {
				display: block;
			}

			.icon-post-type,
			.post-post-type {
				font-size: 14px;
				line-height: 1;
				padding: 8px 0;
			}

			.post-post-type {
				font-family: 'Roboto Condensed';
				font-weight: 500;
				vertical-align: middle;
			}
		}
		.category-link {
			font-family: "Roboto condensed";
			text-decoration: none;
			font-size: 14rem;
			line-height: 1;
			font-weight: 700;
			color: $color__gray-blue;
			background: #BB252166;
			border-radius: 4px;
			padding: 8px;


			&:hover {
				text-decoration: underline;
			}
		}
		.entry-title {
			font-family: "Roboto condensed";
			font-size: 16rem;
			line-height: 24rem;
			font-weight: 500;
			color: $color__gray-blue;
			margin: 0 0 16px;
			text-transform: none;

			a {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}

		.post-meta {
			* {
				color: $color__gray-blue;
			}
			.by {
				display: none;
			}
			.fn {
				font-weight: 400;
				font-size: 14rem;
				text-decoration: underline;
			}
			.posted-on {
				text-transform: uppercase;
				margin-left: 0;
			}
		}

		.posted-on {
			white-space: normal;
		}

	}
}

@media (min-width: 781px) { 

	article.elcano-card {
		
		&.horizontal {
			display: grid;
			grid-template-columns: 30% calc( 70% - 24px ); /* Se resta el gap */
			gap: 24px;

			.post-info {
				padding: 0;
			}
		}
	}
}