/* Category Archive */
.the-archive--category {
	display: block;
	margin-bottom: 20px;

	article {
		display: block;
		max-width: 100%;
		margin-bottom: 20px;

		+ article {
			margin: 40px 0;
		}

		.post-thumbnail {
			@include aspect-ratio(760, 406);
		}

		.read-more {
			margin: 20px 0 0;
			font-size: 16rem;
			font-weight: 500;

			a {
				text-decoration: none;
				border-bottom: 2px solid;

				&::after {

					@include icon($icon-right, 12rem);
					margin-left: 0.5em;
				}
			}
		}
	}

	@include desktop {

		article + article {
			padding-top: 46px;
			border-top: 1px solid $color__gray-softer;
		}
	}
}
