/* Job Archive */
.the-archive--job {

	article {
		padding: 40px 0;

		&:nth-child(n+2) {
			border-top: 1px solid $color__primary;
		}

		.post-inner {
			max-width: 956px;
			margin: 0 auto;
		}

		.job-offer {
			font-family: $font__alt;
			text-transform: uppercase;
		}

		.job-reference {
			font-family: $font__alt;
		}

		a {
			display: inline;
			color: $color__link;
			font-weight: 500;
			text-decoration: underline;
		}
	}
}
