/* Member Council List
   - Block "Members with Photo"
   - Shortcode [biographies]
*/
.header-cc > img {
  object-fit: none;
  height: 326rem;
  @media (max-width: 425px) {
    height: 100%;
  }
}
.leer-mas-cc {
  color: $color__red;
  cursor: pointer;
  text-align: center;
}
.leer-mas-cc-icon:after {
  content: "";
  display: inline-block;
  font: normal 400 normal 12rem "Elcano Icons";
  vertical-align: baseline;
  margin-left: 5px;
  color: $color__red;
  transition: transform 200ms ease-out;
}
.leer-mas-cc-icon.up:after {
  content: "";
  display: inline-block;
  font: normal 400 normal 12rem "Elcano Icons";
  vertical-align: baseline;
  margin-left: 5px;
  color: $color__red;
  transition: transform 200ms ease-out;
  transform: rotateX(180deg);
}

.elipsis-text.on {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.complete {
  display: none;
}
.complete.complete-visible {
  display: block;
}
.member-council-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin: 60px 0;
  font-family: $font__alt;
  text-align: center;
  @media (max-width: 425px) {
    display: block;
  }
  .scimember {
    @media (max-width: 425px) {
      margin-bottom: 40rem;
    }
  }
  a {
    text-decoration: none;
    color: inherit;

    .author-photo {
      height: 162px;
      width: 162px;
      filter: grayscale(100%);
      transition: 0.75s;
    }

    hr {
      background-color: $color__red;
      border: 2px solid $color__red;
      width: 55rem;
      border-radius: 3px;
      transition: 0.75s;
    }

    &:hover {
      .author-photo {
        filter: none;
        border: 1px solid red;
        border-radius: 100%;
        transition: 0.75s;
      }
      hr {
        width: 120rem;
        transition: 0.75s;
      }
      .fn {
        color: $color__red;
        transition: 0.75s;
      }
    }
  }

  .fn {
    font-size: 24rem;
    line-height: 36px;
    color: $color__gray;
    transition: 0.75s;
  }

  .fn,
  p {
    margin: 8px 0;
  }

  .title {
    display: none;
  }

  .note {
    font-weight: 400;
    font-size: 18rem;
    line-height: 23rem;

    &:empty {
      display: none;
    }
  }
}

.member-council {
  .member-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    .sidebar {
      width: 25%;
      @media (max-width: 425px) {
      width: 100% ;
      }
      .mobile-name {
        display: none;
        @media (max-width: 425px) {
          display: block;
          h1 {
            margin: 0px;
          }
          .subtitle {
            margin: 0px;
          }
          hr {
            border: 1px solid $color__red;
            width: 100%;
            margin-top: 16px;
          }
        }
      }
      .author-photo {
        margin-left: 0;
        margin-right: 0;
        margin-top: 27rem;
        border-radius: 0;
        @media (max-width: 425px) {
          margin-left: auto;
          margin-right: auto;
        }
      }
      hr {
        border: 5px solid $color__red;
        border-top: 0;
        border-radius: 5px;
        margin-bottom: 16px;
        width: 120rem;
      }
      .contact {
        margin-top: 0rem;
        font-size: 28rem;
        text-align: center;
        margin-bottom: 8px;
      }
      .mail-contact {
        align-items: center;
        display: flex;
        gap: 3px;
        justify-content: center;
      }
      .eje-investigacion {
        margin-top: 0rem;
        font-size: 18rem;
        text-align: center;
        margin-bottom: 8px;
      }
      .title-sidebar {
        margin-top: 34rem;
        font-size: 28rem;
        text-align: center;
        margin-bottom: 8px;
      }
      .btn-cv {
        text-align: center;
        align-items: center;
        display: flex;
        gap: 3px;
        justify-content: center;
        a {
          border: none;
          color: $color__red;
          padding: 0px;
          margin-bottom: 0px;
        }
        a:hover {
          background: white;
          color: $color__primary;
        }
      }
      .social-media {
        text-align: center;
        span {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 45px;
          border-radius: 50%;
          background-color: $color__white;
          color: $color__primary;
          text-align: center;
          box-shadow: 0 1px 4px rgb(0, 0, 0);
          transition: background-color 200ms ease-in-out;
        }
        span:hover {
          background-color: $color__gray-softer;
          color: $color__link-hover;
        }
      }

    }
    .main {
      width: 70%;
      @media (max-width: 425px) {
        width: 100% ;
      }
      .desktop-name {
        @media (max-width: 425px) {
          display: none;
        }
      }
      .about {
        display: none;
        @media (max-width: 425px) {
          display: flex;
          align-items: flex-end;
          .about-content {
            font-size: 23rem;
            white-space: nowrap;
          }
          hr {
            width: 100%;
            margin-bottom: 13rem;
            margin-left: 5rem;
          }
        }
      }
      .fn {
        margin-bottom: 0rem;
      }
      .subtitle {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
      hr {
        border-top: 1px solid $color__red;
      }
      .text-scroll {
        height: 600rem;
        overflow-y: scroll;
        @media (max-width: 425px) {
          height: auto;
          overflow-y: unset;
        }
      }
    }
  }
}
