.archive-podcast, .archive-video {
	.latest-podcast, .latest-video {
		width: 100%;
		background-color: $color__gray-softer;
		margin-bottom: 72px;

		.elcano-card {
			display: flex;
			flex-direction: row;
			gap: 40px;
			margin: 0 auto;
			padding: 40px;

			.post-thumbnail {
				width: 40%;

				img {
					height: 100%;
				}
			}
			.post-info {
				width: 60%;
				padding: 0;

				.entry-title {
					font-size: 24px;
					font-weight: 500;
					height: initial;
					margin: 16px 0 8px 0;
				}

				.post-description {
					margin: 8px 0;
					p{
						margin: 0;
						font-size: 16px;
						color: $color__gray-blue;
					}
				}

				.podcast-duration {
					margin-top: 8px;
					color: #BB2521;
					font-size: 14px;
					.icon-podcast svg {
						margin-bottom: -3px;
					}
				}

				.more-info {
					margin-top: 24px;
					a {
						color: $color__gray-blue;
						font-size: 16px;
						margin-top: 24px;
					}
				}
			}

			
		}
	}

	.the-archive--podcast,
	.the-archive--video {
		margin-bottom: 40px;
	}

	#load-more-button {
		display: block;
		margin: 0 auto;
		cursor: pointer;
		line-height: normal;
		padding: 10;
		font-weight: 400;
		font-size: 14px;
	}

	.elcano-card .post-thumbnail { 
		&::before {
			padding-top: 0;
		}
	}

	@media (max-width: 768px) {
		.latest-podcast, 
		.latest-video {
			.elcano-card {
				flex-direction: column;
				gap: 24px;
				padding: 24px;

				.post-thumbnail {
					width: 100%;
					img {
						position: initial;
						width: 100%;
						height: auto;
					}
				}
				.post-info {
					width: 100%;
				}
			}
		}
	}
}