/* Press Release Archive */
.the-archive--press_release {

	article {
		margin-bottom: 40px;

		&:hover .post-thumbnail {
			filter: grayscale(100%);
		}

		.thumb-date {
			position: relative;
			max-width: 368px;
			margin: 20px auto;
		}

		.post-thumbnail {
			@include aspect-ratio(340, 220);
		}

		.post-date {
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: 2em;
			color: $color__white;
			font: normal 700 40rem/1.1 $font__alt;
			text-transform: uppercase;
		}

		.post-number {
			color: $color__gray-soft;
			font: normal 500 16rem/1.1 $font__main;
			text-transform: uppercase;
		}

		.entry-title {
			margin: 0.3em 0;
		}

		.entry-summary {
			margin: 0;
		}
	}
}

.press_release-filter {
	font: normal 400 16rem/1.6 $font__alt;

	.years-select {
		color: $color__primary;
	}
}

@include desktop {

	.the-archive--press_release article {
		padding: 50px 20px 0;

		&:nth-child(n+2) {
			border-top: 1px solid $color__gray-softer;
		}

		.thumb-date {
			float: left;
			width: 250px;
			margin: 0;
		}

		.post-thumbnail {
			position: absolute;
			top: 0;
			right: 0;
			width: 172px;
			height: 152px;
		}

		.post-date {
			top: 0;
			left: 0;
			width: 50px;
			margin: 0;
			color: $color__gray;
			font-size: 12rem;
			line-height: 1;
			text-align: right;

			.day {
				display: block;
				font-size: 33rem;
			}
		}

		.post-info {
			padding-left: 270px;
		}

		.entry-title {
			font-size: 18rem;
			margin: 24px 0;
		}
	}
}
