.filters-template {
    font-family: "Roboto";

	@keyframes stuckMoveDownOpacity {
        0% {
            transform: translateY(-15px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    #gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item.gsclose
        > .gs-accordion-item__content {
        display: none;
    }
    #gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item
        > .gs-accordion-item__title
        > .gs-accordion-item__heading {
        outline: 0;
        text-decoration: none;
        margin: 0 !important;
        padding: 0 !important;
        flex-grow: 1;
    }
    #gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item
        > .gs-accordion-item__title {
        z-index: 1;
        margin: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    #gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item
        > .gs-accordion-item__title
        span.iconfortoggle {
        display: inline-block;
        height: 24px;
        width: 24px;
        position: relative;
        margin-left: 15px;
		border-radius: 24px;
		background-color: rgba(187, 37, 33, 0.2);
    }
    #gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item
        > .gs-accordion-item__content {
        z-index: 0;
        position: relative;
    }
    #gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item
        > .gs-accordion-item__content.stuckMoveDownOpacity {
        animation: stuckMoveDownOpacity 0.6s;
    }
    #gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item
        > .gs-accordion-item__title {
        background-color: $color__gray-softer;
        border-style: solid;
        border-width: 1px;
        border-color: #00000012;
    }
	#gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item
        > .gs-accordion-item__content {
        padding: 15px 20px;
    }
    #gspb_accordion-id-gsbp-c634b99 .gs-accordion-item {
        margin-bottom: 24px;
    }
    #gspb_accordion-id-gsbp-c634b99
        .gs-accordion-item
        > .gs-accordion-item__title {
        padding: 15px 20px;
    }
    .gs-accordion
        .gs-accordion-item.gsopen
        .gs-accordion-item__title
        .gs-iconafter {
        transform: rotate(45deg);
    }
	.gs-accordion
        .gs-accordion-item.gsopen
        .gs-accordion-item__title
        .gs-iconbefore {
        transform: rotate(-45deg);
    }
    .gs-accordion .gs-accordion-item__title span.iconfortoggle .gs-iconafter,
    .gs-accordion .gs-accordion-item__title span.iconfortoggle .gs-iconbefore {
        content: "";
        width: 7px;
        height: 2px;
        border-radius: 2px;
        background-color: $color__primary;
        position: absolute;
        top: 10px;
        left: 7px;
    }
    .gs-accordion .gs-accordion-item__title span.iconfortoggle .gs-iconafter {
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
		left: 11px;
    }
	.gs-accordion .gs-accordion-item__title span.iconfortoggle .gs-iconbefore {
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
    }

    .entry-paragraph {
        margin: 40rem 0;
        p {
            font-size: 16rem;
        }
    }

	.results-columns {
		margin-bottom: 0;
	}

    .gs-accordion-item {
        margin-bottom: 32rem;

        .gs-accordion-item__heading {
            font-family: "Roboto condensed";
            font-weight: 500;
        }
    }

    #total-results {
        font-weight: 500;
        font-size: 16rem;
        line-height: 24rem;
		margin-bottom: 24rem;
    }

    #applied-filters {
        display: none;
		margin-bottom: 24px;

        .filter-tag {
            font-size: 14rem;
            font-weight: 500; 
            margin-right: 16rem;
            background-color: rgba(187, 37, 33, 0.2);
        }
        #remove-filters {
            font-size: 16rem;
            color: $color__gray-blue;
        }
    }
    .the-archive--grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }

    .gs-accordion-item__content {
        max-height: 200px;
        overflow-y: scroll;

        input[type="checkbox"] {
            width: 16rem;
            height: 16rem;
            margin-right: 8rem;
            vertical-align: middle;
            accent-color: $color__primary;
        }
        label {
            display: block;
            font-size: 16rem;
            padding: 8rem 0;
            cursor: pointer;
        }
    }

	#publications-menu {
		position: sticky;
		top: 55px;
		z-index: 5;
		transition: top 300ms ease-in-out;
		padding: 12px 0;
		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			width: 100vw;
			left: calc((50vw - 50%)* -1);
			background: $color__primary;
		}

		.nav-menu {

			position: relative;
			.menu {
				position: absolute;
				flex-flow: column;
				width: 100vw;
				top: 41px;
				background: $color__primary;
				left: -10px;
				gap: 10px;
				padding: 12px 24px;
				visibility: hidden;
				transition: all .5s ease-in-out;
				transform-origin: left top;
  				transform: translateX(-100%);
			
				
				&.show {
					visibility: visible;
					transform: translateX(0);
				}
	
				.menu-item {
					font-size: 16px;
					text-transform: uppercase;
					font-weight: 500;
					color: #fff;
	
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		.menu-toggle {
			color: #fff;
			text-transform: uppercase;

			span:after {
				content: "";
				display: inline-block;
				font: normal 400 normal 12rem "Elcano Icons";
				vertical-align: baseline;
				color: #fff;
				margin-left: 5px;
				transform: rotate(90deg);
				transition: all .2s ease-in-out;
			}

			&[aria-expanded="true"] span:after {
				transform: rotate(270deg);
			}
		}
	}

    #results-holder {
        position: relative;

        #results-overlay {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #fff;
            opacity: 0.5;
        }

        #filtros-resultados {
            margin-bottom: 16rem;
        }
    }

    #filters-load-more {
        display: block;
        cursor: pointer;
        font-size: 14rem;
        font-weight: 400;
        margin: 0 auto;
    }

	#form-filtros {
		.wp-block-columns {
			flex-wrap: wrap !important;

			#filters-column,
			#results-holder {
				flex-basis: 100% !important;
			}
		}
	}


	@media (min-width: 782px) { 
		#publications-menu {
			top: 85px; 
		}	
	}


    @media (min-width: 1024px) {
        .the-archive--grid {
            gap: 40rem 24rem;
        }

		#form-filtros {
			.wp-block-columns {
				flex-wrap: nowrap !important;

				#filters-column {
					flex-basis: 25% !important;
				}
				#results-holder {
					flex-basis: 75% !important;
				}
			}
		}

		#publications-menu {

			.main-mobile {
				display: none;
			}

			.nav-menu {
				.menu {
					display: flex;
					flex-flow: row;
					width: 100%;
					background: transparent;
					gap: 20px;
					background: transparent;
					justify-content: center;
					border: none;
					position: initial;
					padding: 0;
					visibility: visible;
					transform: none;

					.menu-item {
						color: #fff;
					}
				}
			}
		}
    }
}
