/* Search Results Form */
.search-form-wrap {
	height: 54px;
	padding: 10px;
	margin: 0 -10px 16px;
	background-color: $color__gray-softer;

	label span {
		padding-right: 10px;
		font: normal 400 16rem/34px $font__alt;
		color: $color__gray-soft;
	}

	.search-field {
		width: calc(100% - 84px);
		margin: 0;
		padding: 0 0 0 10px;
		border: none;
		border-left: 2px solid $color__gray-soft;
		border-radius: 0;
		background: transparent;
	}
}

.filters-toggle {
	position: relative;
	padding: 0 55px 0 15px;
	margin: 0;
	line-height: 48px;
	background-color: $color__gray;
	color: $color__white;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	&::after {

		@include icon($icon-settings, 18rem, block);
		position: absolute;
		right: 20px;
		top: 50%;
		height: 30px;
		line-height: 30px;
		padding-left: 10px;
		transform: translateY(-50%);
		border-left: 1px solid;
	}
}

/* Lists of filters */
.filters-list {

	@include reset-list;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: $color__gray-softer;
	color: $color__gray;
	font: normal 400 16rem/1.25 $font__alt;
	white-space: nowrap;
	user-select: none;
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 300ms ease-in-out;

	&.filters-list--open {
		max-height: 600px;
		overflow-y: auto;
	}

	ul {

		@include reset-list;
		min-width: 100%;
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 300ms ease-in-out;
		background: $color__white;
		color: $color__gray-soft;
		overscroll-behavior: contain;
	}

	li {
		padding: 10px 15px;
		color: inherit;
		cursor: pointer;
	}

	.filter-name {
		flex: 1 0;
		position: relative;
		padding: 0;
		text-decoration: none !important;

		&:nth-child(n+2)::before {

			@include pseudo();
			top: 0;
			left: 16px;
			right: 16px;
			border-top: 1px solid $color__gray-soft;
		}

		> span {
			display: block;
			position: relative;
			padding: 0 45px 0 15px;
			line-height: 48px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&::after {

				@include icon($icon-down, 16rem, block);
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -0.5em;
				transition: transform 200ms ease-out;
			}
		}

		&.filter-name--open {

			> span::after {
				transform: rotateZ(180deg);
			}

			ul {
				max-height: min(50vh, 400px);
				overflow-y: auto;
			}

			+ .filter-name::before {
				content: none;
			}
		}
	}

	.filter-date {
		position: relative;

		input {
			position: absolute;
			inset: 0;
			max-width: 100%;
			padding: 0 0 0 46px;
			border: none;
			background: transparent;
			color: inherit;
			font: inherit;
			appearance: none;
			cursor: pointer;

			&::placeholder {
				color: inherit;
			}
		}
	}
}

/* Selected Filters */
.selected-filters {

	@include reset-list(20px 0);
	@include clearfix;
	display: flex;
	flex-flow: row wrap;
	margin-right: -10px;
	font: normal 700 14rem/40px $font__alt;
	text-transform: uppercase;
	user-select: none;

	li {
		height: 38px;
		padding: 0 8px;
		margin: 0 10px 10px 0;
		border-radius: 5px;
		background-color: $color__primary-softer;
		color: $color__gray;
		cursor: pointer;
		transition: background-color 200ms ease-out;

		&::after {

			@include icon($icon-cross, 14rem);
			margin-left: 0.6em;
			vertical-align: -10%;
		}

		&:hover {
			background-color: $color__primary-soft;
		}
	}

	.selected-filters__sep {
		order: 99;
		width: 100%;
		height: 0;
		padding: 0;

		&::after {
			content: none;
		}
	}

	.selected-filters__clear,
	.selected-filters__apply {
		display: none;
		order: 100;
		margin: 0 auto 10px;
		background: transparent;
		font-size: 20rem;
		font-weight: 400;
		text-transform: none;

		&:hover {
			background-color: $color__gray-softer;
		}
	}

	.selected-filters__apply::after {
		content: $icon-filter;
		font-size: 22rem;
		margin-left: 0.3em;
	}

	.selected-filters__clear {
		order: 101;
	}
}

@include desktop {

	.search-form-wrap {
		display: none;
	}

	.filters-toggle {
		padding: 0;
		margin: 70px 0 30px;
		background-color: inherit;
		color: inherit;

		&::after {
			content: none;
		}
	}

	.filters-list {
		flex-flow: row nowrap;
		height: 60px;
		background-color: $color__gray;
		color: $color__white;
		font-size: 16rem;
		max-height: none !important;
		overflow: visible !important;

		ul {
			position: absolute;
			z-index: 5;
			top: 100%;
			left: 0;
			background: $color__gray-softer;
			color: $color__gray;
		}

		li {
			padding: 5px 15px;

			&:hover {
				background: rgba(0, 0, 0, 0.08);
				text-decoration: underline;
			}
		}

		.filter-name {

			&:nth-child(n+2)::before {
				top: 11px;
				bottom: 11px;
				left: 0;
				right: auto;
				border-top: none;
				border-left: 1px solid $color__white;
			}

			> span {
				line-height: 60px;
			}

			li:first-child {
				margin-top: 15px;
			}

			li:last-child {
				margin-bottom: 15px;
			}
		}

		.filter-name--open ul {
			max-height: min(80vh, 510px);
		}
	}

	.selected-filters {
		display: block;

		li {
			float: left;
		}

		.selected-filters__sep {
			display: none;
		}

		.selected-filters__clear,
		.selected-filters__apply {
			float: right;
			margin: 0 10px 10px 0;
		}
	}
}
