/* Special Archive */
.the-archive--special {

	article {

		.entry-title {
			margin-bottom: 0;
		}

		.years {
			font-weight: 700;
		}
	}
}

.annual-summaries {
	margin: 30px 0;
	border: 1px solid $color__background-hr;
	border-width: 1px 0;

	.section-title {
		color: $color__text-input;
	}

	.post-slide {
		display: flex;
		flex-flow: column;
	}

	.tns-item {
		display: inline-flex !important;
	}
}

@include desktop {

	.annual-summaries {

		.slider-controls {
			margin-top: -44px;
		}

		.post-slide {
			flex-flow: row nowrap;

			.post-related:first-child {
				margin-right: 20px;
			}
		}

		.post-related {
			max-width: 50%;
		}
	}
}
