/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .timeline-element {

	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	margin-block-end: 0;
	margin-block-start: 0;
	flex-basis: content;
	align-self: center;

	&--title {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 20px;
		font-weight: 700;
		margin: 0;
		color: #bb2521;
	}

	&--content {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 300px;
		text-align: center;
		border: 1px solid #989ea5;
		background-color: #fff;
		padding: 8px;
		transition: opacity .3s ease-in-out;
		z-index: 10;
		p {
			font-size: 14px;
		}
	}

	&--icon {
		svg {
			vertical-align: middle;
		}
	}

	&.title-top {	

		margin-bottom: 35px;
		.timeline-element--content { 
			top: 150px;

			&:before {
				content: "";
				border: 1px solid #2c3a4b;
				display: block;
				width: 65px;
				transform: rotate(90deg);
				position: absolute;
				left: 50%;
				top: -40px;
				transform: translateX(-50%) rotate(90deg);
			}
		}
	}
	&.title-bottom {

		flex-direction: column-reverse;
		margin-top: 35px;
		.timeline-element--content { 
			bottom: 150px;

			&:after {
				content: "";
				border: 1px solid #2c3a4b;
				display: block;
				width: 65px;
				transform: rotate(90deg);
				position: absolute;
				left: 50%;
				bottom: -40px;
				transform: translateX(-50%) rotate(90deg);
			}
		}
		.timeline-element--title {
			color: #000;
		}
	}
}