.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}

.alignwide,
.alignfull {
	width: 100vw;
	margin-left: calc(-50vw - -50%);
}

@include desktop {

	.alignwide {
		width: auto;
		max-width: 100vw;
		margin-left: -70px;
		margin-right: -70px;
	}

	.alignfull {
		width: auto;
		max-width: min($size__content-width, 100vw);
		margin-right: -120%;
		margin-left: calc(50% - 5px);
		transform: translateX(-50%);
	}
}
