
@keyframes elcanoSlideDown {

	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes elcanoSlideRight {

	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes elcanoSlideLeft {

	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes elcanoHideScroll {

	from,
	to {
		overflow: hidden;
		clip-path: inset(0 0 0 0);
	}
}

@keyframes elcanoCopy {

	to {
		transform: scale3d(2, 2, 2);
		opacity: 0;
	}
}
