$colors: (
	'red'            : $color__red,
	'primary'        : $color__primary,
	'primary-soft'   : $color__primary-soft,
	'primary-softer' : $color__primary-softer,
	'black'          : $color__black,
	'gray'           : $color__gray,
	'gray-soft'      : $color__gray-soft,
	'gray-softer'    : $color__gray-softer,
	'white'          : $color__white,
	'green'          : #2a5757,
	'yellow'         : #e9a350,
);

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color !important;
	}

	.has-#{$name}-background-color {
		background-color: $color !important;
	}
}

.has-red-gradient-gradient-background {
	background: $color__gradient;
}
