.code-iframe {
	width: 100%;
	height: 1000px;
	border: none;
}

.wp-embed-aspect-16-9 {
	@include fit(9/16);

	.wp-block-embed__wrapper {
		width: 100%;
		height: 100%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}